<div id="courses" class="content">
    <div class="course-description"><a href="#/course/{{id}}">{{description}}</a></div>
    <div class="course-id">({{id}})</div>
    <hr />
    <div class="course-schedule">schedule: {{schedule}}</div>
    <div class="course-members">members:
        <div class="course-member" ng-repeat="member in members">{{member.name}}</div>
    </div>
    <div class="course-members">documents:
        <div class="course-member" ng-repeat="doc in documents">{{doc.description||doc.name}}</div>
    </div>
</div>

