<div id="courses" class="content">
  <div class="course" ng-repeat="course in courses" name="/course/{{course.id}}" id="/project/{{course.id}}">
    <hr ng-show="!$first" />
    <div class="course-description"><a href="#/course/{{course.id}}">{{course.description}}</a></div>
    <div class="course-id">({{course.id}})</div>
  </div>
</div>
