<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="eKita" ng-controller="eKitaFrame">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="./style//*.png" type="image/x-icon">
        <title>EKita | Home</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="./style/application.css" media="screen" rel="stylesheet" type="text/css">
        <link href="./style/jquery.css" media="screen" rel="stylesheet" type="text/css">
        <link href="./style/theme.css" media="screen" rel="stylesheet" type="text/css">
        <link href="./ekita.css" media="screen" rel="stylesheet" type="text/css">
        <!-- script src="./style/application.js" type="text/javascript"></script -->
        <script src="./angular-1.0.1.js" type="text/javascript"></script>
        <script src="./ekita.js" type="text/javascript"></script>
        <meta content="authenticity_token" name="csrf-param">
        <meta content="StyWtdnh2Q49frUdJvr1u0ETdjYas91xY83Gzwbvm0Y=" name="csrf-token">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body style="overflow: hidden; ">
        <div id="header">
            <a href="/home" id="logo"><img alt="eKita" height="33" src="./style/logo.png" width="80"></a>
            <ul id="nav-links"> 
                <li id="home-link" class="">Home</li> 
                <li id="apps-link" class="">Apps</li>
                <li id="files-link" class="">Files</li> 
                <li id="courses-link" class=""><a href="#/courses">Courses</a></li> 
                <li id="resources-link" class="">Resources</li> 
                <li id="academics-link" class="">Academics</li> 
                <li id="profile-link" class=""><a href="#/profile">Profile</a></li> 
                <li id="settings-link" class=""><a href="#/settings">Settings</a></li> 
                <li id="help-link" class="active">Help</li> 
            </ul> 
            <form method="get" action="/search" id="search-form">
                <input type="text" size="50" placeholder="Search" class="ui-corner-all">
            </form>
            <div id="dropbox" class="ui-corner-all">
                <a href="./EKitaHome_files/EKitaHome.html" class="button ui-corner-all">
                    <span class="img"><img alt="{{me.fullname}}" class="gravatar ui-corner-all" src="./style/gravatar-logo.jpg"></span>
                    <span class="txt">{{me.fullname}}</span>
                    <span class="ar" style="top: 5px; ">▼</span>
                </a>
                <div class="menu" style="display: none; ">
                    <ul>
                        <li><a href="./EKitaHome_files/EKitaHome.html">Edit Profile</a></li>
                        <li><a href="./EKitaHome_files/EKitaHome.html">Account Settings</a></li>
                        <li><a href="./EKitaHome_files/EKitaHome.html">Appear Offline</a></li>
                        <li><a href="./EKitaHome_files/EKitaHome.html">Sign-out</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="msg"></div>
        </div>
        <div id="left-side">	
            <img alt="Apps" height="14" id="apps-img" src="./style/apps.gif" width="30">
            <img alt="&lt;&lt;" height="9" id="arrow-left-icon" src="./style/arrow_left.png" width="12">
            <ul id="app-panel">
                <li><img alt="Appicon_calendar" src="./style/appicon_calendar.png"></li>
                <li><img alt="Appicon_email" src="./style/appicon_email.png"></li>
                <li><img alt="Appicon_office" src="./style/appicon_office.png">	</li>	
                <li><img alt="Appicon_gtalk" src="./style/appicon_gtalk.png"></li>
                <li><img alt="Appicon_calc" src="./style/appicon_calc.png"></li>
                <li><img alt="Appicon_graph" src="./style/appicon_graph.png"></li>
                <li><img alt="Appicon_photoshop" src="./style/appicon_photoshop.png"></li>	
                <li><img alt="Appicon_indesign" src="./style/appicon_indesign.png"></li>	
                <li><img alt="Appicon_illustrator" src="./style/appicon_illustrator.png"></li>		
                <li><img alt="Appicon_pdfreader" src="./style/appicon_pdfreader.png"></li>				
            </ul>
            <img alt="Get Apps" height="10" id="get-apps-img" src="./style/get-apps.gif" width="38">
            <img alt="Recent Files" height="14" id="recent-files-img" src="./style/recent-files.gif" width="80">
            <ul id="recent-files">
                <li ng-repeat="room in me.trail"><span>{{room.description||room.name}}</span></li>
            </ul>
        </div>
        <div id="center">
            <div class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul ng-controller="showtabs" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="tabs-title simple-title ui-state-default ui-corner-top" style=""><a href="#tab-9">Courses</a><span class="ui-icon ui-icon-close"></span></li>
                    <li class="tabs-title simple-title ui-state-default ui-corner-top ui-state-active ui-tabs-selected" style="" ng-repeat="tab in tabs"><a href="#tab-9">{{tab.name}}</a><span class="ui-icon ui-icon-close"></span></li>
                </ul>
                <div id="center-content" class="ui-tabs-panel ui-widget-content ui-corner-bottom tabs-content" ng-view></div>
            </div>
        </div>
        <div id="right-side">
            <div id="calendar" class="ui-corner-all hasDatepicker">
                <div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="display: block; ">
                    <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all"><a class="ui-datepicker-prev ui-corner-all" onclick="DP_jQuery_1350880356027.datepicker._adjustDate(&#39;#calendar&#39;, -1, &#39;M&#39;);" title="Prev"><span class="ui-icon ui-icon-circle-triangle-w">Prev</span></a><a class="ui-datepicker-next ui-corner-all" onclick="DP_jQuery_1350880356027.datepicker._adjustDate(&#39;#calendar&#39;, +1, &#39;M&#39;);" title="Next"><span class="ui-icon ui-icon-circle-triangle-e">Next</span></a><div class="ui-datepicker-title"><span class="ui-datepicker-month">March</span>&nbsp;<span class="ui-datepicker-year">2012</span></div>
                    </div>
                    <table class="ui-datepicker-calendar">
                        <thead>
                            <tr>
                                <th class="ui-datepicker-week-end"><span title="Sunday">Su</span></th>
                                <th><span title="Monday">Mo</span></th>
                                <th><span title="Tuesday">Tu</span></th>
                                <th><span title="Wednesday">We</span></th>
                                <th><span title="Thursday">Th</span></th>
                                <th><span title="Friday">Fr</span></th>
                                <th class="ui-datepicker-week-end"><span title="Saturday">Sa</span></th></tr></thead><tbody><tr><td class=" ui-datepicker-week-end ui-datepicker-other-month disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,1,2012, this);return false;"><a class="ui-state-default ui-priority-secondary" href="./EKitaHome_files/EKitaHome.html">26</a></td>
                                <td class=" ui-datepicker-other-month disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,1,2012, this);return false;"><a class="ui-state-default ui-priority-secondary" href="./EKitaHome_files/EKitaHome.html">27</a></td>
                                <td class=" ui-datepicker-other-month disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,1,2012, this);return false;"><a class="ui-state-default ui-priority-secondary" href="./EKitaHome_files/EKitaHome.html">28</a></td>
                                <td class=" ui-datepicker-other-month disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,1,2012, this);return false;"><a class="ui-state-default ui-priority-secondary" href="./EKitaHome_files/EKitaHome.html">29</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">1</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">2</a></td>
                                <td class=" ui-datepicker-week-end disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">3</a></td></tr><tr><td class=" ui-datepicker-week-end disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">4</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">5</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">6</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">7</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">8</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">9</a></td>
                                <td class=" ui-datepicker-week-end disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">10</a></td></tr><tr><td class=" ui-datepicker-week-end disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">11</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">12</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">13</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">14</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">15</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">16</a></td>
                                <td class=" ui-datepicker-week-end disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">17</a></td></tr><tr><td class=" ui-datepicker-week-end disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">18</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">19</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">20</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">21</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">22</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">23</a></td>
                                <td class=" ui-datepicker-week-end disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">24</a></td></tr><tr><td class=" ui-datepicker-week-end disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">25</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">26</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">27</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">28</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">29</a></td>
                                <td class=" disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">30</a></td>
                                <td class=" ui-datepicker-week-end disabled-date" onclick="DP_jQuery_1350880356027.datepicker._selectDay(&#39;#calendar&#39;,2,2012, this);return false;"><a class="ui-state-default" href="./EKitaHome_files/EKitaHome.html">31</a></td></tr></tbody></table></div></div>
            <button id="event-btn" class="ui-state-default ui-corner-all" style="top: 177px; ">
                Add Event
            </button>
            <div id="top-tabs" class="tabs top ui-corner-all ui-tabs ui-widget ui-widget-content" style="top: 208.59999990463257px; ">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top"><a href="/home#assignments-tab">Assignments</a></li>
                    <li class="ui-state-default ui-corner-top"><a href="/home#activity-tab">Activity</a></li>
                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="/home#notes-tab">Notes</a></li>
                </ul>
                <div id="assignments-tab" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div id="activity-tab" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>
                <div id="notes-tab" class="ui-tabs-panel ui-widget-content ui-corner-bottom">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>
            </div>
            <div id="bottom-tabs" class="tabs bottom ui-corner-all ui-tabs ui-widget ui-widget-content" style="top: 428.3333330154419px; ">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top"><a href="/home#bottom-tabs-1">Friends</a></li>
                    <li class="ui-state-default ui-corner-top"><a href="/home#bottom-tabs-2">Groups</a></li>
                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="/home#bottom-tabs-3">Question Box</a></li>
                </ul>
                <div id="bottom-tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div id="bottom-tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>
                <div id="bottom-tabs-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>
            </div>
        </div>
        <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
        <div style="display: none; z-index: 1000; outline: 0px; " class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-event-dialog">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span class="ui-dialog-title" id="ui-dialog-title-event-dialog"><img height="21" width="51" src="./style/logo.png"><span class="dialog-title"> </span></span><a href="./EKitaHome_files/EKitaHome.html" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span class="ui-icon ui-icon-closethick">close</span></a></div>
            <div id="event-dialog" style="" class="ui-dialog-content ui-widget-content">
                <form accept-charset="UTF-8" action="/events" autocomplete="off" class="new_event" data-remote="true" id="new_event" method="post">
                    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="StyWtdnh2Q49frUdJvr1u0ETdjYas91xY83Gzwbvm0Y="></div>
                    <input class="text ui-widget-content ui-corner-all" id="event-title" name="event[title]" placeholder="Title" size="30" type="text">
                    <select class="text ui-widget-content ui-corner-all" id="event-category" name="event[category]"><option value="Category">Category</option>
                        <option value="Lecture">Lecture</option>
                        <option value="Assignment Due">Assignment Due</option>
                        <option value="Study Session">Study Session</option>
                        <option value="Extra-Curricular">Extra-Curricular</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Exam">Exam</option>
                        <option value="Lab">Lab</option>
                        <option value="Other">Other</option></select>
                    <input class="text ui-widget-content ui-corner-all hasDatepicker" id="event-date" name="event[date]" placeholder="__/__/____" readonly="readonly" size="30" type="text">
                    <input class="text ui-widget-content ui-corner-all hasTimepicker" id="event-time" name="event[time]" placeholder="__:__ __" readonly="readonly" size="30" type="text">
                    <textarea class="text ui-widget-content ui-corner-all" cols="40" id="event-info" name="event[info]" placeholder="Event Text" rows="20"></textarea>
                    <input class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all" id="add-event-btn" name="commit" type="submit" value="Add Event">
                    <input class="cancel-btn ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all" name="commit" type="submit" value="Cancel">
        </form></div></div>
        <div id="ui-timepicker-div" class="ui-timepicker ui-widget ui-helper-clearfix ui-corner-all " style="display: none; "><table class="ui-timepicker-table ui-widget-content ui-corner-all"><tbody><tr><td class="ui-timepicker-hours">
                            <div class="ui-timepicker-title ui-widget-header ui-helper-clearfix ui-corner-all">Hour</div><table class="ui-timepicker"><tbody><tr><th rowspan="2" class="periods" scope="row">AM</th><td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="0"><a class="ui-state-default ">12</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="1"><a class="ui-state-default ">01</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="2"><a class="ui-state-default ">02</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="3"><a class="ui-state-default ">03</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="4"><a class="ui-state-default ">04</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="5"><a class="ui-state-default ">05</a></td></tr><tr><td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="6"><a class="ui-state-default ">06</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="7"><a class="ui-state-default ">07</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="8"><a class="ui-state-default ">08</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="9"><a class="ui-state-default ">09</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="10"><a class="ui-state-default ">10</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="11"><a class="ui-state-default ui-state-active">11</a></td></tr><tr><th rowspan="2" class="periods" scope="row">PM</th><td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="12"><a class="ui-state-default ">12</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="13"><a class="ui-state-default ">01</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="14"><a class="ui-state-default ">02</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="15"><a class="ui-state-default ">03</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="16"><a class="ui-state-default ">04</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="17"><a class="ui-state-default ">05</a></td></tr><tr><td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="18"><a class="ui-state-default ">06</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="19"><a class="ui-state-default ">07</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="20"><a class="ui-state-default ">08</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="21"><a class="ui-state-default ">09</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="22"><a class="ui-state-default ">10</a></td>
                                        <td class="ui-timepicker-hour-cell" data-timepicker-instance-id="#event-time" data-hour="23"><a class="ui-state-default ">11</a></td></tr></tbody></table></td>
                        <td class="ui-timepicker-minutes">
                            <div class="ui-timepicker-title ui-widget-header ui-helper-clearfix ui-corner-all">Minute</div><table class="ui-timepicker"><tbody><tr><td class="ui-timepicker-minute-cell" data-timepicker-instance-id="#event-time" data-minute="0"><a class="ui-state-default ">00</a></td>
                                        <td class="ui-timepicker-minute-cell" data-timepicker-instance-id="#event-time" data-minute="5"><a class="ui-state-default ">05</a></td>
                                        <td class="ui-timepicker-minute-cell" data-timepicker-instance-id="#event-time" data-minute="10"><a class="ui-state-default ">10</a></td></tr><tr><td class="ui-timepicker-minute-cell" data-timepicker-instance-id="#event-time" data-minute="15"><a class="ui-state-default ">15</a></td>
                                        <td class="ui-timepicker-minute-cell" data-timepicker-instance-id="#event-time" data-minute="20"><a class="ui-state-default ">20</a></td>
                                        <td class="ui-timepicker-minute-cell" data-timepicker-instance-id="#event-time" data-minute="25"><a class="ui-state-default ">25</a></td></tr><tr><td class="ui-timepicker-minute-cell" data-timepicker-instance-id="#event-time" data-minute="30"><a class="ui-state-default ui-state-active">30</a></td>
                                        <td class="ui-timepicker-minute-cell" data-timepicker-instance-id="#event-time" data-minute="35"><a class="ui-state-default ">35</a></td>
                                        <td class="ui-timepicker-minute-cell" data-timepicker-instance-id="#event-time" data-minute="40"><a class="ui-state-default ">40</a></td></tr><tr><td class="ui-timepicker-minute-cell" data-timepicker-instance-id="#event-time" data-minute="45"><a class="ui-state-default ">45</a></td>
                                        <td class="ui-timepicker-minute-cell" data-timepicker-instance-id="#event-time" data-minute="50"><a class="ui-state-default ">50</a></td>
                                        <td class="ui-timepicker-minute-cell" data-timepicker-instance-id="#event-time" data-minute="55"><a class="ui-state-default ">55</a></td></tr></tbody></table></td></tr></tbody></table></div>
        <div style="display: none; z-index: 1000; outline: 0px; " class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-confirm-dialog">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span class="ui-dialog-title" id="ui-dialog-title-confirm-dialog"><img height="21" width="51" src="./style/logo.png"></span><a href="./EKitaHome_files/EKitaHome.html" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span class="ui-icon ui-icon-closethick">close</span></a></div>
            <div id="confirm-dialog" style="" class="ui-dialog-content ui-widget-content"><center>Are you sure?</center></div>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <div class="ui-dialog-buttonset"><button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Yes</span></button><button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">No</span></button></div></div></div>
        <div style="display: none; z-index: 1000; outline: 0px; " class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-login-dialog">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span class="ui-dialog-title" id="ui-dialog-title-login-dialog"><img height="21" width="51" src="./style/logo.png"></span><a href="./EKitaHome_files/EKitaHome.html" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span class="ui-icon ui-icon-closethick">close</span></a></div>
            <div id="login-dialog" style="" class="ui-dialog-content ui-widget-content">
                <center>
                    <form autocomplete="off">
                        <fieldset>
                            <input type="text" name="username" id="username" value="" class="text ui-widget-content ui-corner-all" placeholder="Username">
                            <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" placeholder="Password">
                        </fieldset>
                    </form>
                </center>
            </div>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <div class="ui-dialog-buttonset"><button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Login</span></button><button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Cancel</span></button>
                </div>
            </div>
        </div>
    </body>
</html>
