<body>
these steps are only needed as long as we have no official https certificates.

<a target="new" href="https://d3vh4p1.ekita.co:444/">click this link and accept the certificate.</a>
(login is optional)

<a href="https://d3vh4p1.ekita.co/demo.html">now enter the eKita demo</a>
</body>
