<div id="welcome-page">
  <div id="login-status">login status: {{loginp()}}</div>
    <form id="login-form">
  <ul id="errors">
        <li id="incorrect_error" style="display:none;">Incorrect username/password</li>
        <li id="session_username_error"></li>
        <li id="session_password_error"></li>
  </ul>
  <ul id="fields">
    <li id="username"><input type="text" ng-model="username" placeholder="login name" /></li>
    <li id="password"><input type="password" ng-model="password" placeholder="password" /></li>
    <li id="submit"><input ng-click="login()" type="submit" value="Sign in" /></li>
  </ul>

  <span id="remember">
        <input type="checkbox" name="c1"/><label for="c1">Remember</label>
  </span>
  <a id="forgot" href="#">Forgot it?</a>

    </form>
</div>
