<div id="settings" class="content">
    <label for="settingsfield">settings for: {{settings.OBJ_NAME}} </label>
    <fieldset id="settingsfield">
        <div ng:click="edit('settings.USER_FULLNAME', $event)"  class="settings-item">
            <label for="settings.USER_FULLNAME">full name: </label>
            <div id="settings.USER_FULLNAME">
                <div ng-hide="editp['settings.USER_FULLNAME']">{{settings.USER_FULLNAME}}</div>
                <div ng-show="editp['settings.USER_FULLNAME']">
                    <input type="text" ng-model="settings.USER_FULLNAME" />
                </div>
            </div>
        </div>
        <div ng:click="edit('settings.USER_FIRSTNAME', $event)"  class="settings-item">
            <label for="settings.USER_FIRSTNAME">personal name: </label>
            <div id="settings.USER_FIRSTNAME">
                <div ng-hide="editp['settings.USER_FIRSTNAME']">{{settings.USER_FIRSTNAME}}</div>
                <div ng-show="editp['settings.USER_FIRSTNAME']">
                    <input type="text" ng-model="settings.USER_FIRSTNAME" />
                </div>
            </div>
        </div>
        <div ng:click="edit('settings.USER_EMAIL', $event)"  class="settings-item">
            <label for="settings.USER_EMAIL">email address: </label>
            <div id="settings.USER_EMAIL">
                <div ng-hide="editp['settings.USER_EMAIL']">{{settings.USER_EMAIL}}</div>
                <div ng-show="editp['settings.USER_EMAIL']">
                    <input type="text" ng-model="settings.USER_EMAIL" />
                </div>
            </div>
        </div>
        <div ng:click="edit('settings.USER_ADRESS', $event)"  class="settings-item">
            <label for="settings.USER_ADRESS">address: </label>
            <div id="settings.USER_ADRESS">
                <div ng-hide="editp['settings.USER_ADRESS']">{{settings.USER_ADRESS}}</div>
                <div ng-show="editp['settings.USER_ADRESS']">
                    <input type="text" ng-model="settings.USER_ADRESS" />
                </div>
            </div>
        </div>
        <div ng:click="edit('settings.USER_LANGUAGE', $event)"  class="settings-item">
            <label for="settings.USER_LANGUAGE">language: </label>
            <div id="settings.USER_LANGUAGE">
                <div ng-hide="editp['settings.USER_LANGUAGE']">{{settings.USER_LANGUAGE}}</div>
                <div ng-show="editp['settings.USER_LANGUAGE']">
                    <input type="text" ng-model="settings.USER_LANGUAGE" />
                </div>
            </div>
        </div>
    </fieldset>
    <div class="submit"><input type="submit" ng-click="save()" value="Save"></div>
</div>
