.ui-helper-hidden
{
    display: none
}

.ui-helper-reset
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after
{
    content: "";
    display: table
}

.ui-helper-clearfix:after
{
    clear: both
}

.ui-helper-clearfix
{
    zoom: 1
}

.ui-helper-zfix
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}

.ui-state-disabled
{
    cursor: default !important
}

.ui-icon
{
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}

.ui-widget-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-widget
{
    font-family: Verdana, Arial, sans-serif
}

.ui-widget .ui-widget
{
    font-size: 1em
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em
}

.ui-widget-content
{
    border: 1px solid #aaaaaa;
    background: #fff url(images/ui-bg_glass_75_ffffff_1x400.png) 50% 50% repeat-x;
    color: #222222
}

.ui-widget-content a
{
    color: #222222
}

.ui-widget-header
{
    border: 1px solid #aaaaaa;
    background: #ccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color: #222222;
    font-weight: bold
}

.ui-widget-header a
{
    color: #222222
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555555
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited
{
    color: #555555;
    text-decoration: none
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
{
    border: 1px solid #999999;
    background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121
}

.ui-state-hover a, .ui-state-hover a:hover
{
    color: #212121;
    text-decoration: none
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
{
    border: 1px solid #aaaaaa;
    background: #fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
{
    color: #212121;
    text-decoration: none
}

.ui-widget:active
{
    outline: none
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
{
    border: 1px solid #fcefa1;
    background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
    color: #363636
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a
{
    color: #363636
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
{
    border: 1px solid #cd0a0a;
    background: #fef1ec url(images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x;
    color: #cd0a0a
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a
{
    color: #cd0a0a
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text
{
    color: #cd0a0a
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary
{
    font-weight: bold
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary
{
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled
{
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none
}

.ui-icon
{
    width: 16px;
    height: 16px;
    background-image: url(images/ui-icons_222222_256x240.png)
}

.ui-widget-content .ui-icon
{
    background-image: url(images/ui-icons_222222_256x240.png)
}

.ui-widget-header .ui-icon
{
    background-image: url(images/ui-icons_222222_256x240.png)
}

.ui-state-default .ui-icon
{
    background-image: url(images/ui-icons_888888_256x240.png)
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon
{
    background-image: url(images/ui-icons_454545_256x240.png)
}

.ui-state-active .ui-icon
{
    background-image: url(images/ui-icons_454545_256x240.png)
}

.ui-state-highlight .ui-icon
{
    background-image: url(images/ui-icons_2e83ff_256x240.png)
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon
{
    background-image: url(images/ui-icons_cd0a0a_256x240.png)
}

.ui-icon-carat-1-n
{
    background-position: 0 0
}

.ui-icon-carat-1-ne
{
    background-position: -16px 0
}

.ui-icon-carat-1-e
{
    background-position: -32px 0
}

.ui-icon-carat-1-se
{
    background-position: -48px 0
}

.ui-icon-carat-1-s
{
    background-position: -64px 0
}

.ui-icon-carat-1-sw
{
    background-position: -80px 0
}

.ui-icon-carat-1-w
{
    background-position: -96px 0
}

.ui-icon-carat-1-nw
{
    background-position: -112px 0
}

.ui-icon-carat-2-n-s
{
    background-position: -128px 0
}

.ui-icon-carat-2-e-w
{
    background-position: -144px 0
}

.ui-icon-triangle-1-n
{
    background-position: 0 -16px
}

.ui-icon-triangle-1-ne
{
    background-position: -16px -16px
}

.ui-icon-triangle-1-e
{
    background-position: -32px -16px
}

.ui-icon-triangle-1-se
{
    background-position: -48px -16px
}

.ui-icon-triangle-1-s
{
    background-position: -64px -16px
}

.ui-icon-triangle-1-sw
{
    background-position: -80px -16px
}

.ui-icon-triangle-1-w
{
    background-position: -96px -16px
}

.ui-icon-triangle-1-nw
{
    background-position: -112px -16px
}

.ui-icon-triangle-2-n-s
{
    background-position: -128px -16px
}

.ui-icon-triangle-2-e-w
{
    background-position: -144px -16px
}

.ui-icon-arrow-1-n
{
    background-position: 0 -32px
}

.ui-icon-arrow-1-ne
{
    background-position: -16px -32px
}

.ui-icon-arrow-1-e
{
    background-position: -32px -32px
}

.ui-icon-arrow-1-se
{
    background-position: -48px -32px
}

.ui-icon-arrow-1-s
{
    background-position: -64px -32px
}

.ui-icon-arrow-1-sw
{
    background-position: -80px -32px
}

.ui-icon-arrow-1-w
{
    background-position: -96px -32px
}

.ui-icon-arrow-1-nw
{
    background-position: -112px -32px
}

.ui-icon-arrow-2-n-s
{
    background-position: -128px -32px
}

.ui-icon-arrow-2-ne-sw
{
    background-position: -144px -32px
}

.ui-icon-arrow-2-e-w
{
    background-position: -160px -32px
}

.ui-icon-arrow-2-se-nw
{
    background-position: -176px -32px
}

.ui-icon-arrowstop-1-n
{
    background-position: -192px -32px
}

.ui-icon-arrowstop-1-e
{
    background-position: -208px -32px
}

.ui-icon-arrowstop-1-s
{
    background-position: -224px -32px
}

.ui-icon-arrowstop-1-w
{
    background-position: -240px -32px
}

.ui-icon-arrowthick-1-n
{
    background-position: 0 -48px
}

.ui-icon-arrowthick-1-ne
{
    background-position: -16px -48px
}

.ui-icon-arrowthick-1-e
{
    background-position: -32px -48px
}

.ui-icon-arrowthick-1-se
{
    background-position: -48px -48px
}

.ui-icon-arrowthick-1-s
{
    background-position: -64px -48px
}

.ui-icon-arrowthick-1-sw
{
    background-position: -80px -48px
}

.ui-icon-arrowthick-1-w
{
    background-position: -96px -48px
}

.ui-icon-arrowthick-1-nw
{
    background-position: -112px -48px
}

.ui-icon-arrowthick-2-n-s
{
    background-position: -128px -48px
}

.ui-icon-arrowthick-2-ne-sw
{
    background-position: -144px -48px
}

.ui-icon-arrowthick-2-e-w
{
    background-position: -160px -48px
}

.ui-icon-arrowthick-2-se-nw
{
    background-position: -176px -48px
}

.ui-icon-arrowthickstop-1-n
{
    background-position: -192px -48px
}

.ui-icon-arrowthickstop-1-e
{
    background-position: -208px -48px
}

.ui-icon-arrowthickstop-1-s
{
    background-position: -224px -48px
}

.ui-icon-arrowthickstop-1-w
{
    background-position: -240px -48px
}

.ui-icon-arrowreturnthick-1-w
{
    background-position: 0 -64px
}

.ui-icon-arrowreturnthick-1-n
{
    background-position: -16px -64px
}

.ui-icon-arrowreturnthick-1-e
{
    background-position: -32px -64px
}

.ui-icon-arrowreturnthick-1-s
{
    background-position: -48px -64px
}

.ui-icon-arrowreturn-1-w
{
    background-position: -64px -64px
}

.ui-icon-arrowreturn-1-n
{
    background-position: -80px -64px
}

.ui-icon-arrowreturn-1-e
{
    background-position: -96px -64px
}

.ui-icon-arrowreturn-1-s
{
    background-position: -112px -64px
}

.ui-icon-arrowrefresh-1-w
{
    background-position: -128px -64px
}

.ui-icon-arrowrefresh-1-n
{
    background-position: -144px -64px
}

.ui-icon-arrowrefresh-1-e
{
    background-position: -160px -64px
}

.ui-icon-arrowrefresh-1-s
{
    background-position: -176px -64px
}

.ui-icon-arrow-4
{
    background-position: 0 -80px
}

.ui-icon-arrow-4-diag
{
    background-position: -16px -80px
}

.ui-icon-extlink
{
    background-position: -32px -80px
}

.ui-icon-newwin
{
    background-position: -48px -80px
}

.ui-icon-refresh
{
    background-position: -64px -80px
}

.ui-icon-shuffle
{
    background-position: -80px -80px
}

.ui-icon-transfer-e-w
{
    background-position: -96px -80px
}

.ui-icon-transferthick-e-w
{
    background-position: -112px -80px
}

.ui-icon-folder-collapsed
{
    background-position: 0 -96px
}

.ui-icon-folder-open
{
    background-position: -16px -96px
}

.ui-icon-document
{
    background-position: -32px -96px
}

.ui-icon-document-b
{
    background-position: -48px -96px
}

.ui-icon-note
{
    background-position: -64px -96px
}

.ui-icon-mail-closed
{
    background-position: -80px -96px
}

.ui-icon-mail-open
{
    background-position: -96px -96px
}

.ui-icon-suitcase
{
    background-position: -112px -96px
}

.ui-icon-comment
{
    background-position: -128px -96px
}

.ui-icon-person
{
    background-position: -144px -96px
}

.ui-icon-print
{
    background-position: -160px -96px
}

.ui-icon-trash
{
    background-position: -176px -96px
}

.ui-icon-locked
{
    background-position: -192px -96px
}

.ui-icon-unlocked
{
    background-position: -208px -96px
}

.ui-icon-bookmark
{
    background-position: -224px -96px
}

.ui-icon-tag
{
    background-position: -240px -96px
}

.ui-icon-home
{
    background-position: 0 -112px
}

.ui-icon-flag
{
    background-position: -16px -112px
}

.ui-icon-calendar
{
    background-position: -32px -112px
}

.ui-icon-cart
{
    background-position: -48px -112px
}

.ui-icon-pencil
{
    background-position: -64px -112px
}

.ui-icon-clock
{
    background-position: -80px -112px
}

.ui-icon-disk
{
    background-position: -96px -112px
}

.ui-icon-calculator
{
    background-position: -112px -112px
}

.ui-icon-zoomin
{
    background-position: -128px -112px
}

.ui-icon-zoomout
{
    background-position: -144px -112px
}

.ui-icon-search
{
    background-position: -160px -112px
}

.ui-icon-wrench
{
    background-position: -176px -112px
}

.ui-icon-gear
{
    background-position: -192px -112px
}

.ui-icon-heart
{
    background-position: -208px -112px
}

.ui-icon-star
{
    background-position: -224px -112px
}

.ui-icon-link
{
    background-position: -240px -112px
}

.ui-icon-cancel
{
    background-position: 0 -128px
}

.ui-icon-plus
{
    background-position: -16px -128px
}

.ui-icon-plusthick
{
    background-position: -32px -128px
}

.ui-icon-minus
{
    background-position: -48px -128px
}

.ui-icon-minusthick
{
    background-position: -64px -128px
}

.ui-icon-close
{
    background-position: -80px -128px
}

.ui-icon-closethick
{
    background-position: -96px -128px
}

.ui-icon-key
{
    background-position: -112px -128px
}

.ui-icon-lightbulb
{
    background-position: -128px -128px
}

.ui-icon-scissors
{
    background-position: -144px -128px
}

.ui-icon-clipboard
{
    background-position: -160px -128px
}

.ui-icon-copy
{
    background-position: -176px -128px
}

.ui-icon-contact
{
    background-position: -192px -128px
}

.ui-icon-image
{
    background-position: -208px -128px
}

.ui-icon-video
{
    background-position: -224px -128px
}

.ui-icon-script
{
    background-position: -240px -128px
}

.ui-icon-alert
{
    background-position: 0 -144px
}

.ui-icon-info
{
    background-position: -16px -144px
}

.ui-icon-notice
{
    background-position: -32px -144px
}

.ui-icon-help
{
    background-position: -48px -144px
}

.ui-icon-check
{
    background-position: -64px -144px
}

.ui-icon-bullet
{
    background-position: -80px -144px
}

.ui-icon-radio-off
{
    background-position: -96px -144px
}

.ui-icon-radio-on
{
    background-position: -112px -144px
}

.ui-icon-pin-w
{
    background-position: -128px -144px
}

.ui-icon-pin-s
{
    background-position: -144px -144px
}

.ui-icon-play
{
    background-position: 0 -160px
}

.ui-icon-pause
{
    background-position: -16px -160px
}

.ui-icon-seek-next
{
    background-position: -32px -160px
}

.ui-icon-seek-prev
{
    background-position: -48px -160px
}

.ui-icon-seek-end
{
    background-position: -64px -160px
}

.ui-icon-seek-start
{
    background-position: -80px -160px
}

.ui-icon-seek-first
{
    background-position: -80px -160px
}

.ui-icon-stop
{
    background-position: -96px -160px
}

.ui-icon-eject
{
    background-position: -112px -160px
}

.ui-icon-volume-off
{
    background-position: -128px -160px
}

.ui-icon-volume-on
{
    background-position: -144px -160px
}

.ui-icon-power
{
    background-position: 0 -176px
}

.ui-icon-signal-diag
{
    background-position: -16px -176px
}

.ui-icon-signal
{
    background-position: -32px -176px
}

.ui-icon-battery-0
{
    background-position: -48px -176px
}

.ui-icon-battery-1
{
    background-position: -64px -176px
}

.ui-icon-battery-2
{
    background-position: -80px -176px
}

.ui-icon-battery-3
{
    background-position: -96px -176px
}

.ui-icon-circle-plus
{
    background-position: 0 -192px
}

.ui-icon-circle-minus
{
    background-position: -16px -192px
}

.ui-icon-circle-close
{
    background-position: -32px -192px
}

.ui-icon-circle-triangle-e
{
    background-position: -48px -192px
}

.ui-icon-circle-triangle-s
{
    background-position: -64px -192px
}

.ui-icon-circle-triangle-w
{
    background-position: -80px -192px
}

.ui-icon-circle-triangle-n
{
    background-position: -96px -192px
}

.ui-icon-circle-arrow-e
{
    background-position: -112px -192px
}

.ui-icon-circle-arrow-s
{
    background-position: -128px -192px
}

.ui-icon-circle-arrow-w
{
    background-position: -144px -192px
}

.ui-icon-circle-arrow-n
{
    background-position: -160px -192px
}

.ui-icon-circle-zoomin
{
    background-position: -176px -192px
}

.ui-icon-circle-zoomout
{
    background-position: -192px -192px
}

.ui-icon-circle-check
{
    background-position: -208px -192px
}

.ui-icon-circlesmall-plus
{
    background-position: 0 -208px
}

.ui-icon-circlesmall-minus
{
    background-position: -16px -208px
}

.ui-icon-circlesmall-close
{
    background-position: -32px -208px
}

.ui-icon-squaresmall-plus
{
    background-position: -48px -208px
}

.ui-icon-squaresmall-minus
{
    background-position: -64px -208px
}

.ui-icon-squaresmall-close
{
    background-position: -80px -208px
}

.ui-icon-grip-dotted-vertical
{
    background-position: 0 -224px
}

.ui-icon-grip-dotted-horizontal
{
    background-position: -16px -224px
}

.ui-icon-grip-solid-vertical
{
    background-position: -32px -224px
}

.ui-icon-grip-solid-horizontal
{
    background-position: -48px -224px
}

.ui-icon-gripsmall-diagonal-se
{
    background-position: -64px -224px
}

.ui-icon-grip-diagonal-se
{
    background-position: -80px -224px
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl
{
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr
{
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
{
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
{
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.ui-widget-overlay
{
    background: #aaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30)
}

.ui-widget-shadow
{
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px
}

.ui-resizable
{
    position: relative
}

.ui-resizable-handle
{
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle
{
    display: none
}

.ui-resizable-n
{
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0
}

.ui-resizable-s
{
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0
}

.ui-resizable-e
{
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%
}

.ui-resizable-w
{
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%
}

.ui-resizable-se
{
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px
}

.ui-resizable-sw
{
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px
}

.ui-resizable-nw
{
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px
}

.ui-resizable-ne
{
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px
}

.ui-selectable-helper
{
    position: absolute;
    z-index: 100;
    border: 1px dotted black
}

.ui-accordion
{
    width: 100%
}

.ui-accordion .ui-accordion-header
{
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    zoom: 1
}

.ui-accordion .ui-accordion-li-fix
{
    display: inline
}

.ui-accordion .ui-accordion-header-active
{
    border-bottom: 0 !important
}

.ui-accordion .ui-accordion-header a
{
    display: block;
    font-size: 1em;
    padding: .5em .5em .5em .7em
}

.ui-accordion-icons .ui-accordion-header a
{
    padding-left: 2.2em
}

.ui-accordion .ui-accordion-header .ui-icon
{
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px
}

.ui-accordion .ui-accordion-content
{
    padding: 1em 2.2em;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    margin-bottom: 2px;
    overflow: auto;
    display: none;
    zoom: 1
}

.ui-accordion .ui-accordion-content-active
{
    display: block
}

.ui-autocomplete
{
    position: absolute;
    cursor: default
}

* html .ui-autocomplete
{
    width: 1px
}

.ui-menu
{
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left
}

.ui-menu .ui-menu
{
    margin-top: -3px
}

.ui-menu .ui-menu-item
{
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%
}

.ui-menu .ui-menu-item a
{
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1
}

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active
{
    font-weight: normal;
    margin: -1px
}

.ui-button
{
    display: inline-block;
    position: relative;
    padding: 0;
    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible
}

.ui-button-icon-only
{
    width: 2.2em
}

button.ui-button-icon-only
{
    width: 2.4em
}

.ui-button-icons-only
{
    width: 3.4em
}

button.ui-button-icons-only
{
    width: 3.7em
}

.ui-button .ui-button-text
{
    display: block;
    line-height: 1.4
}

.ui-button-text-only .ui-button-text
{
    padding: .4em 1em
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text
{
    padding: .4em;
    text-indent: -9999999px
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text
{
    padding: .4em 1em .4em 2.1em
}

.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text
{
    padding: .4em 2.1em .4em 1em
}

.ui-button-text-icons .ui-button-text
{
    padding-left: 2.1em;
    padding-right: 2.1em
}

input.ui-button
{
    padding: .4em 1em
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon
{
    position: absolute;
    top: 50%;
    margin-top: -8px
}

.ui-button-icon-only .ui-icon
{
    left: 50%;
    margin-left: -8px
}

.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary
{
    left: .5em
}

.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary
{
    right: .5em
}

.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary
{
    right: .5em
}

.ui-buttonset
{
    margin-right: 7px
}

.ui-buttonset .ui-button
{
    margin-left: 0;
    margin-right: -0.3em
}

button.ui-button::-moz-focus-inner
{
    border: 0;
    padding: 0
}

.ui-dialog
{
    position: absolute;
    padding: .2em;
    width: 300px;
    overflow: hidden
}

.ui-dialog .ui-dialog-titlebar
{
    padding: .4em 1em;
    position: relative
}

.ui-dialog .ui-dialog-title
{
    float: left;
    margin: .1em 16px .1em 0
}

.ui-dialog .ui-dialog-titlebar-close
{
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 18px
}

.ui-dialog .ui-dialog-titlebar-close span
{
    display: block;
    margin: 1px
}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus
{
    padding: 0
}

.ui-dialog .ui-dialog-content
{
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
    zoom: 1
}

.ui-dialog .ui-dialog-buttonpane
{
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset
{
    float: right
}

.ui-dialog .ui-dialog-buttonpane button
{
    margin: .5em .4em .5em 0;
    cursor: pointer
}

.ui-dialog .ui-resizable-se
{
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px
}

.ui-draggable .ui-dialog-titlebar
{
    cursor: move
}

.ui-slider
{
    position: relative;
    text-align: left
}

.ui-slider .ui-slider-handle
{
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default
}

.ui-slider .ui-slider-range
{
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0
}

.ui-slider-horizontal
{
    height: .8em
}

.ui-slider-horizontal .ui-slider-handle
{
    top: -0.3em;
    margin-left: -0.6em
}

.ui-slider-horizontal .ui-slider-range
{
    top: 0;
    height: 100%
}

.ui-slider-horizontal .ui-slider-range-min
{
    left: 0
}

.ui-slider-horizontal .ui-slider-range-max
{
    right: 0
}

.ui-slider-vertical
{
    width: .8em;
    height: 100px
}

.ui-slider-vertical .ui-slider-handle
{
    left: -0.3em;
    margin-left: 0;
    margin-bottom: -0.6em
}

.ui-slider-vertical .ui-slider-range
{
    left: 0;
    width: 100%
}

.ui-slider-vertical .ui-slider-range-min
{
    bottom: 0
}

.ui-slider-vertical .ui-slider-range-max
{
    top: 0
}

.ui-tabs
{
    position: relative;
    padding: .2em;
    zoom: 1
}

.ui-tabs .ui-tabs-nav
{
    margin: 0;
    padding: .2em .2em 0
}

.ui-tabs .ui-tabs-nav li
{
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 .2em 1px 0;
    border-bottom: 0 !important;
    padding: 0;
    white-space: nowrap
}

.ui-tabs .ui-tabs-nav li a
{
    float: left;
    padding: .5em 1em;
    text-decoration: none
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected
{
    margin-bottom: 0;
    padding-bottom: 1px
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a
{
    cursor: text
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a
{
    cursor: pointer
}

.ui-tabs .ui-tabs-panel
{
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none
}

.ui-tabs .ui-tabs-hide
{
    display: none !important
}

.ui-datepicker
{
    width: 17em;
    padding: .2em .2em 0;
    display: none
}

.ui-datepicker .ui-datepicker-header
{
    position: relative;
    padding: .2em 0
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next
{
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover
{
    top: 1px
}

.ui-datepicker .ui-datepicker-prev
{
    left: 2px
}

.ui-datepicker .ui-datepicker-next
{
    right: 2px
}

.ui-datepicker .ui-datepicker-prev-hover
{
    left: 1px
}

.ui-datepicker .ui-datepicker-next-hover
{
    right: 1px
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span
{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px
}

.ui-datepicker .ui-datepicker-title
{
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center
}

.ui-datepicker .ui-datepicker-title select
{
    font-size: 1em;
    margin: 1px 0
}

.ui-datepicker select.ui-datepicker-month-year
{
    width: 100%
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year
{
    width: 49%
}

.ui-datepicker table
{
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em
}

.ui-datepicker th
{
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0
}

.ui-datepicker td
{
    border: 0;
    padding: 1px
}

.ui-datepicker td span, .ui-datepicker td a
{
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none
}

.ui-datepicker .ui-datepicker-buttonpane
{
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0
}

.ui-datepicker .ui-datepicker-buttonpane button
{
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current
{
    float: left
}

.ui-datepicker.ui-datepicker-multi
{
    width: auto
}

.ui-datepicker-multi .ui-datepicker-group
{
    float: left
}

.ui-datepicker-multi .ui-datepicker-group table
{
    width: 95%;
    margin: 0 auto .4em
}

.ui-datepicker-multi-2 .ui-datepicker-group
{
    width: 50%
}

.ui-datepicker-multi-3 .ui-datepicker-group
{
    width: 33.3%
}

.ui-datepicker-multi-4 .ui-datepicker-group
{
    width: 25%
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header
{
    border-left-width: 0
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header
{
    border-left-width: 0
}

.ui-datepicker-multi .ui-datepicker-buttonpane
{
    clear: left
}

.ui-datepicker-row-break
{
    clear: both;
    width: 100%;
    font-size: 0em
}

.ui-datepicker-rtl
{
    direction: rtl
}

.ui-datepicker-rtl .ui-datepicker-prev
{
    right: 2px;
    left: auto
}

.ui-datepicker-rtl .ui-datepicker-next
{
    left: 2px;
    right: auto
}

.ui-datepicker-rtl .ui-datepicker-prev:hover
{
    right: 1px;
    left: auto
}

.ui-datepicker-rtl .ui-datepicker-next:hover
{
    left: 1px;
    right: auto
}

.ui-datepicker-rtl .ui-datepicker-buttonpane
{
    clear: right
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button
{
    float: left
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current
{
    float: right
}

.ui-datepicker-rtl .ui-datepicker-group
{
    float: right
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header
{
    border-right-width: 0;
    border-left-width: 1px
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header
{
    border-right-width: 0;
    border-left-width: 1px
}

.ui-datepicker-cover
{
    display: none;
    display/**/: block;
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -4px;
    left: -4px;
    width: 200px;
    height: 200px
}

.ui-progressbar
{
    height: 2em;
    text-align: left;
    overflow: hidden
}

.ui-progressbar .ui-progressbar-value
{
    margin: -1px;
    height: 100%
}

.ui-timepicker-inline
{
    display: inline
}

#ui-timepicker-div
{
    padding: 0.2em;
    background-color: #fff
}

.ui-timepicker-table
{
    display: inline-table;
    width: 0
}

.ui-timepicker-table table
{
    margin: 0.15em 0 0 0;
    border-collapse: collapse
}

.ui-timepicker-hours, .ui-timepicker-minutes
{
    padding: 0.2em
}

.ui-timepicker-table .ui-timepicker-title
{
    line-height: 1.8em;
    text-align: center
}

.ui-timepicker-table td
{
    font-size: 12px;
    padding: 0.1em;
    width: 2.2em
}

.ui-timepicker-table th.periods
{
    padding: 0.1em;
    width: 2.2em
}

.ui-timepicker-table td span
{
    display: block;
    padding: 0.2em 0.3em 0.2em 0.5em;
    width: 1.2em;
    text-align: right;
    text-decoration: none
}

.ui-timepicker-table td a
{
    display: block;
    padding: 0.2em 0.3em 0.2em 0.5em;
    width: 1.2em;
    cursor: pointer;
    text-align: right;
    text-decoration: none
}

.ui-timepicker .ui-timepicker-buttonpane
{
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0
}

.ui-timepicker .ui-timepicker-buttonpane button
{
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible
}

.ui-timepicker .ui-timepicker-close
{
    float: right
}

.ui-timepicker .ui-timepicker-now
{
    float: left
}

.ui-timepicker .ui-timepicker-deselect
{
    float: left
}

.ui-timepicker-cover
{
    display: none;
    display/**/: block;
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -4px;
    left: -4px;
    width: 200px;
    height: 200px
}

*
{
    margin: 0;
    padding: 0
}

a
{
    text-decoration: none
}

ul
{
    list-style: none
}

li
{
    display: inline
}

a:focus, input:focus
{
    outline: none
}

body
{
    position: absolute;
    height: 100%;
    width: 100%
}

#header
{
    height: 57px;
    min-width: 900px;
    background: #2e2e2e;
    border-bottom: 1px solid #111
}

#logo
{
    position: absolute;
    top: 12px;
    left: 15px
}

#logo img
{
    border: none
}

#nav-links
{
    position: absolute;
    width: 600px;
    height: 56px;
    left: 158px
}

#nav-links li
{
    position: absolute;
    top: 21px;
    text-align: center;
    font: bold 12px Arial,  Helvetica,  Sans-serif;
    color: rgba(250, 250, 250, 0.5);
    line-height: 20px
}

#nav-links li:hover, #header li.active
{
    background: #202020;
    color: rgba(250, 250, 250, 0.9);
    border-top: 1px solid black;
    border-bottom: 1px solid #444;
    cursor: pointer
}

#home-link
{
    left: 0;
    width: 50px
}

#apps-link
{
    border-bottom: 1px solid #444;
    left: 77px;
    width: 45px
}

#files-link
{
    left: 121px;
    border-left: 1px solid #444;
    border-bottom: 1px solid #444;
    width: 45px
}

#courses-link
{
    border-bottom: 1px solid #444;
    left: 193px;
    width: 62px
}

#resources-link
{
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    left: 255px;
    width: 77px
}

#academics-link
{
    border-left: 1px solid #444;
    border-bottom: 1px solid #444;
    left: 332px;
    width: 77px
}

#profile-link
{
    border-bottom: 1px solid #444;
    left: 430px;
    width: 55px
}

#settings-link
{
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    left: 484px;
    width: 63px
}

#help-link
{
    border-bottom: 1px solid #444;
    left: 549px;
    width: 45px
}

#search-form input
{
    position: absolute;
    top: 18px;
    right: 150px;
    height: 24px;
    width: 160px;
    border: none;
    font: bold 12px Arial, Helvetica, Sans-serif;
    color: #6a6f75;
    text-align: center;
    padding: 0px 25px 0px 10px;
    background: url(header/search-dark.png) no-repeat 97% 5px #202020;
    border-top: 2px solid black;
    border-bottom: 1px solid #444;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

#search-form input:focus
{
    color: rgba(250, 250, 250, 0.8);
    background: url(header/search-white.png) no-repeat 97% 5px #2e2e2e
}

#dropbox a, #dropbox a:visited
{
    color: #879199;
    text-decoration: none
}

#dropbox, #dropbox .button, #dropbox .button img, #dropbox .button span.txt, #dropbox .button span.ar, #dropbox .menu
{
    position: absolute
}

#dropbox
{
    width: 125px;
    height: 28px;
    top: 16px;
    right: 15px;
    background: #202020;
    border-top: 1px solid black;
    border-bottom: 1px solid #444
}

#dropbox .button
{
    width: 110px;
    height: 14px;
    left: 3px;
    top: 2px;
    font: bold 12px Arial, Helvetica, Sans-serif;
    border-top: 1px solid #444;
    border-bottom: 1px solid black;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    padding: 5px 5px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    color: rgba(250, 250, 250, 0.9)
}

#dropbox .button img
{
    top: 4px;
    left: 7px;
    border: none
}

#dropbox .button span.txt
{
    left: 28px;
    top: 5px;
    width: 60px;
    overflow: hidden;
    text-align: center
}

#dropbox .button span.ar
{
    top: 5px;
    right: 10px
}

#dropbox .button:hover
{
    background: #303030;
    top: 1px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    color: rgba(250, 250, 250, 0.9)
}

#dropbox .menu
{
    position: absolute;
    left: 3px;
    right: 3px;
    top: 30px;
    background: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #c7cbd3;
    border-top: 0;
    border-bottom-color: #b3b7c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 40000
}

#dropbox .menu ul li a
{
    padding: 7px 10px;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    border-top: 1px solid #e7e7f0;
    border-bottom: 1px solid #e7e7f0;
    display: block;
    margin: -1px 0 0 0;
    text-shadow: 0 1px 1px #fff;
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',  endColorstr='#FFFFFF', GradientType=0)";
    zoom: 1.1
}

#dropbox .menu ul li:hover a
{
    border-color: #d7dbea;
    color: #777;
    background: #EBEDF4;
    background: -moz-linear-gradient(top,  #ebedf4 0%,  #e5e7ef 100%);
    background: -webkit-gradient(linear,  left top,  left bottom,  color-stop(0%,  #ebedf4),  color-stop(100%,  #e5e7ef));
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr='#EBEDF4',  endColorstr='#e5e7ef', GradientType=0)";
    background: -o-linear-gradient(top,  #ebedf4 0%,  #e5e7ef 100%);
    box-shadow: inset 0 1px 0 #fff
}

#left-side, #apps-img, #arrow-left-icon, #app-panel, #get-apps-img, #recent-files-img, #recent-files
{
    position: absolute
}

#get-apps-img, #arrow-left-icon
{
    cursor: pointer
}

#app-panel li img
{
	height: 55px;
	width: 60px;
    padding: 1px;
}

#left-side
{
    top: 58px;
    bottom: 0px;
    left: 0px;
    width: 157px;
    background: #eaeaea;
    box-shadow: 0px 0px 10px #222;
    border-right: 1px solid #fff
}

#apps-img
{
    left: 16px;
    top: 23px
}

#arrow-left-icon
{
    left: 129px;
    top: 26px
}

#app-panel
{
    left: 0px;
    top: 42px;
    width: 127px;
    height: 289px;
    background: #fff url(app_panel.gif) no-repeat;
    background-size: 127px 289px;
	padding-top: 2px;
}

#get-apps-img
{
    left: 102px;
    top: 335px
}

#recent-files-img
{
    left: 16px;
    top: 370px
}

#recent-files
{
    left: 16px;
    top: 393px
}

#recent-files li
{
    display: block;
    width: 125px;
    height: 25px;
    background: url(left-side/middle.gif) no-repeat 0 0;
    background-size: 125px 25px
}

#recent-files li:first-child
{
    background: url(left-side/top.gif) no-repeat 0 0;
    background-size: 125px 25px
}

#recent-files li:last-child
{
    background: url(left-side/bottom.gif) no-repeat 0 0;
    background-size: 124px 26px
}

#recent-files span
{
    font: normal 11px Arial,  Helvetica,  Sans-serif;
    color: #666;
    text-shadow: 0 1px 1px #fff;
    position: relative;
    left: 10px;
    top: 2px;
    cursor: pointer
}

#recent-files span:hover
{
    color: #333
}

#center, #center .tabs, #center .tabs-content
{
    position: absolute
}

#center
{
    top: 58px;
    bottom: 0px;
    left: 160px;
    min-width: 700px;
    right: 251px;
    background: #c7c7c7
}

#center .tabs
{
    top: 1.5%;
    bottom: 1%;
    right: 1.2%;
    left: 1.2%;
    box-shadow: 0px 1px 5px #aaa;
    border: 1px solid #aaa
}

.ui-tab-content, .ui-tabs-panel
{
    overflow: auto
}

#center li.tabs-title:hover
{
    border: 1px solid #ccc
}

#center .tabs .tabs-title img
{
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 2px
}

#center .tabs .tabs-title a
{
    font: bold 12px Arial,  Helvetica,  Sans-serif;
    text-shadow: 0 1px 1px #fff;
    padding: 7px 5px 5px 2px;
    color: #555;
    cursor: pointer
}

#center .tabs li.simple-title a
{
    font: bold 12px Arial,  Helvetica,  Sans-serif;
    color: #555;
    padding: 7px 5px 5px 10px;
    cursor: pointer
}

#center .tabs li .ui-icon-close
{
    margin: 3px 4px 5px 0;
    float: right;
    cursor: pointer
}

#center .tabs-content
{
    font: normal 13px Arial,  Helvetica,  Sans-serif;
    color: #777;
    top: 5.5%;
    bottom: 1%;
    right: 1.2%;
    left: 1.2%
}

.activities
{
    position: absolute;
    top: 50px;
    right: 25px;
    bottom: 20px;
    left: 20px
}

.activities .activity-title
{
    display: block;
    padding: 12px 0 2px 10px;
    border-bottom: 1px solid #eee
}

.activities .activity-title span
{
    font: bold 11px Arial,  Helvetica,  Sans-serif;
    color: #bbb;
    cursor: default
}

.activities .activity-title .active
{
    color: #777
}

.activities .activity-title ol
{
    list-style-position: inside;
    list-style-type: decimal;
    display: none;
    padding-top: 7px
}

.activities .activity-content
{
    font: bold 12px Arial,  Helvetica,  Sans-serif;
    color: #ddd;
    box-shadow: 1px 1px 5px #aaa;
    position: relative;
    background: #fff;
    margin: 5px 4px -1px 4px;
    padding: 7px 0 0 10px;
    cursor: default;
    display: block;
    display: list-item;
    height: 65px
}

.activities .activity-content:hover
{
    box-shadow: 1px 1px 5px #777
}

.activities .activity-content .title
{
    color: #ddd !important;
    font-size: 110%
}

.activities .activity-content .time
{
    position: absolute;
    left: 300px;
    top: 8px;
    color: #ccc !important
}

.activities .activity-content .info
{
    position: absolute;
    left: 10px;
    top: 28px;
    right: 15px;
    bottom: 7px;
    padding: 3px 10px 3px 10px;
    font: normal 12px Arial,  Helvetica,  Sans-serif;
    background: #fff;
    text-shadow: 0 1px 1px #bbb;
    color: #777;
    border: none;
    text-align: left;
    resize: none;
    cursor: default
}

.activities .activity-content .ui-icon-close
{
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.4;
    cursor: pointer
}

.activities .activity-content .ui-icon-close:hover
{
    opacity: 1
}

#center .tabs-content .files
{
    width: 660px
}

#center .tabs-content .files li
{
    display: block;
    cursor: default
}

#center .tabs-content .files li ul li
{
    float: left
}

#center .tabs-content .files .title
{
    border-bottom: 1px solid #eee;
    height: 30px
}

#center .tabs-content .files .title li
{
    font: bold 11px Arial,  Helvetica,  Sans-serif;
    color: #666;
    padding: 13px 0 0 0
}

#center .tabs-content .files .row
{
    height: 30px;
    border-bottom: 1px solid #eee
}

#center .tabs-content .files .row:hover
{
    background: rgba(1, 1, 1, 0.02)
}

#center .tabs-content .files .row li
{
    font: normal 12px Arial,  Helvetica,  Sans-serif;
    color: #777;
    height: 30px
}

#center .tabs-content .files li.name
{
    padding-left: 20px;
    width: 320px
}

#center .tabs-content .files .row li.name img
{
    position: relative;
    left: 0px;
    top: 6px
}

#center .tabs-content .files .row li.name span
{
    position: relative;
    left: 6px;
    top: 2px
}

#center .tabs-content .files .type
{
    width: 200px
}

#center .tabs-content .files .row .type span
{
    position: relative;
    top: 9px
}

#center .tabs-content .files .age
{
    width: 100px
}

#center .tabs-content .files .row .age span
{
    position: relative;
    top: 9px
}

#academics-list
{
    position: absolute;
    top: 60px;
    width: 692px;
    bottom: 10px;
    left: 25px
}

#academics-list li
{
    display: block;
    cursor: default
}

#academics-list .title
{
    height: 55px
}

#academics-list .title span
{
    position: absolute;
    font: bold 11px Arial,  Helvetica,  Sans-serif;
    color: #2e2e2e;
    text-align: center;
    height: 25px;
    line-height: 27px;
    text-shadow: 0 1px 1px #fff
}

#academics-list .row
{
    border-bottom: 1px solid #eee;
    position: relative;
    height: 55px
}

#academics-list .row:last-child
{
    border-bottom: none
}

#academics-list .row *
{
    z-index: 0;
    cursor: default
}

#academics-list .row textarea, #academics-list .row .grade-elems-full, #academics-list .row .grade-elems-full li input
{
    font: normal 12px Arial,  Helvetica,  Sans-serif;
    color: #666;
    border: none;
    text-align: center;
    resize: none;
    top: 9px;
    height: 30px
}

#academics-list .row textarea:focus
{
    color: #2e2e2e
}

#academics-list .row textarea
{
    padding-top: 7px
}

.course-code, .course-title, .univ-name, .dep-name, .prof-name, .grade-elems, .grade-elems-full
{
    position: absolute
}

#academics-list .title .course
{
    border-top: 1px solid #eee;
    left: 0px;
    top: 0px;
    width: 185px;
    height: 30px;
    line-height: 30px;
    color: #bbb
}

#academics-list .title .course-code
{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    left: 0px;
    top: 30px;
    width: 80px;
    background: #eee
}

#academics-list .row .course-code
{
    left: 3px;
    top: 8px;
    padding: 5px 5px 5px 5px;
    width: 66px
}

#academics-list .title .course-title
{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    left: 80px;
    top: 30px;
    width: 105px;
    background: #eee
}

#academics-list .row .course-title
{
    left: 83px;
    top: 8px;
    padding: 5px 5px 5px 5px;
    width: 90px
}

#academics-list .title .univ
{
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    left: 185px;
    top: 0px;
    width: 210px;
    height: 30px;
    line-height: 30px;
    color: #bbb
}

#academics-list .title .univ-name
{
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    left: 185px;
    top: 30px;
    width: 105px;
    background: #eee
}

#academics-list .row .univ-name
{
    left: 188px;
    top: 8px;
    padding: 5px 5px 5px 5px;
    width: 91px
}

#academics-list .title .dep-name
{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    left: 290px;
    top: 30px;
    width: 105px;
    background: #eee
}

#academics-list .row .dep-name
{
    left: 294px;
    top: 8px;
    padding: 5px 5px 5px 5px;
    width: 90px
}

#academics-list .title .prof
{
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    left: 395px;
    top: 0px;
    width: 105px;
    height: 30px;
    line-height: 30px;
    color: #bbb
}

#academics-list .title .prof-name
{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    left: 395px;
    top: 30px;
    width: 105px;
    background: #eee
}

#academics-list .row .prof-name
{
    left: 398px;
    top: 8px;
    padding: 5px 5px 5px 5px;
    width: 92px
}

#academics-list .title .grade
{
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    left: 500px;
    top: 0px;
    width: 140px;
    height: 30px;
    line-height: 30px;
    color: #bbb
}

#academics-list .title .elems
{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    left: 500px;
    top: 30px;
    width: 140px;
    background: #eee
}

#academics-list .title span:last-child
{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    left: 640px;
    top: 30px;
    width: 58px;
    background: #eee
}

#academics-list .row .grade-elems
{
    left: 523px;
    top: 7px;
    width: 100px
}

#academics-list .row .grade-elems-full
{
    box-shadow: 1px 1px 5px #aaa;
    border: 1px solid #ddd;
    background: #eee;
    color: #2e2e2e;
    left: 505px;
    top: 10px;
    width: 140px;
    height: 85px;
    padding: 5px 5px 5px 7px;
    overflow: hidden;
    text-align: left;
    display: none;
    z-index: 1 !important;
    opacity: 0.9
}

#academics-list .row .grade-elems-full li
{
    line-height: 21px;
    font-size: 90%;
    position: relative
}

#academics-list .row .grade-elems-full li span:first-child
{
    text-shadow: 0 1px 1px #fff !important;
    display: inline;
    width: 50px
}

#academics-list .row .grade-elems-full li .grade
{
    position: absolute;
    top: 4px;
    right: -2px;
    background: #eee;
    height: 15px;
    width: 45px;
    text-align: left;
    color: #2e2e2e;
    overflow: hidden;
    font-size: 97%;
    opacity: 1
}

#academics-list .row .grade-elems-full li:last-child
{
    font-weight: bold;
    line-height: 24px
}

#academics-list .row .grade-elems-full li:last-child .grade
{
    position: absolute;
    top: 5px;
    right: -2px;
    font-weight: bold;
    font-size: 105%
}

#academics-list .row .btn-rmv
{
    font: normal 11px Arial,  Helvetica,  Sans-serif;
    position: absolute;
    left: 650px;
    top: 13px;
    padding: 4px 0px 4px 0px;
    font: bold 14px Arial,  Helvetica,  Sans-serif !important;
    width: 40px;
    text-align: center;
    color: #d44737;
    opacity: 1;
    border: 1px solid #ddd;
    background: #eee;
    text-shadow: 0 1px 2px #fff;
    cursor: pointer
}

#academics-list .btn-rmv:hover
{
    color: #d44737;
    opacity: 0.7
}

#academics-list .btn-add
{
    font: normal 11px Arial,  Helvetica,  Sans-serif;
    position: absolute;
    left: 650px;
    top: 13px;
    padding: 7px 10px 5px 10px;
    border: 1px solid #ddd;
    font: bold 10px Arial,  Helvetica,  Sans-serif !important;
    background: #eee;
    color: #2e2e2e !important;
    text-shadow: 0 1px 1px #fff;
    cursor: pointer
}

#academics-list .row .btn-add:hover
{
    box-shadow: 0px 0px 0px #888;
    opacity: 0.7
}

#academics-list .btn-disabled
{
    color: #777 !important;
    text-shadow: 0 1px 1px #fff;
    cursor: default;
    opacity: 0.7
}

.ui-tabs-paging-next a:hover, .ui-tabs-paging-next a:focus, .ui-tabs-paging-next a:active, .ui-tabs-paging-prev a:hover, .ui-tabs-paging-prev a:focus, .ui-tabs-paging-prev a:active
{
    background: #eee
}

.ui-tabs-paging-disabled
{
    visibility: hidden
}

#right-side, .ui-datepicker, #event-btn, #right-side .tabs
{
    position: absolute
}

#right-side
{
    top: 58px;
    bottom: 0;
    width: 250px;
    right: 0;
    background: #e6e6e6;
    border-left: 1px solid #bfbfbf;
    font-family: Trebuchet MS,  Tahoma,  Verdana,  Arial,  sans-serif;
    font-size: 12px
}

.ui-datepicker
{
    font: normal 12px Arial,  Helvetica,  Sans-serif !important;
    color: #555 !important;
    left: 15px;
    top: 14px;
    z-index: 1;
    box-shadow: 0px 1px 5px #aaa;
    text-shadow: 0 1px 1px #ddd;
    width: 205px;
    height: 170px;
    cursor: default
}

.disabled-date a
{
    font: normal 10px Arial,  Helvetica,  Sans-serif !important;
    background: #fff !important;
    color: #999 !important;
    cursor: default;
    border: 1px solid white !important;
    text-align: center !important;
    width: 14px !important;
    height: 14px !important
}

.highlighted-date a
{
    font: bold 11px Arial,  Helvetica,  Sans-serif !important;
    color: #333 !important;
    text-shadow: 0 1px 1px #ddd !important;
    border: 1px solid white !important;
    text-align: center !important;
    width: 14px !important;
    height: 14px !important;
    margin-top: -1px !important;
    opacity: 0.7;
    border: 1px solid #ddd !important;
    background: #eee !important
}

.highlighted-date a:hover
{
    opacity: 1;
    border: 1px solid #ddd !important;
    background: #eee !important
}

.highlighted-date
{
    padding-left: 7px !important
}

.disabled-date
{
    padding-left: 7px !important
}

#event-btn
{
    z-index: 0;
    left: 20px;
    width: 70px;
    height: 25px;
    top: 177px;
    box-shadow: 0px 1px 5px #aaa;
    border: 1px solid #bbb;
    padding-top: 8px;
    font: bold 10px Arial,  Helvetica,  Sans-serif !important;
    color: #555 !important;
    text-shadow: 0 1px 1px white
}

#event-btn:hover
{
    box-shadow: 0px 0px 0px #888;
    cursor: pointer
}

#right-side #top-tabs
{
    top: 310px
}

#right-side #bottom-tabs
{
    top: 430px
}

#right-side .tabs
{
    color: #777;
    box-shadow: 0px 1px 5px #aaa;
    height: 200px;
    width: 205px;
    left: 15px
}

#right-side .tabs a
{
    font: bold 10px Arial,  Helvetica,  Sans-serif;
    text-shadow: 0 1px 1px #fff;
    padding: 7px 7px 5px 7px;
    color: #666;
    cursor: pointer
}

#right-side .tabs div
{
    font: normal 12px Arial,  Helvetica,  Sans-serif;
    color: #777
}

#assignments-tab ul
{
    position: absolute;
    left: 5px;
    top: 35px;
    right: 5px;
    bottom: 5px;
    overflow: scroll
}

#assignments-tab ul li
{
    font: bold 12px Arial,  Helvetica,  Sans-serif;
    color: #ddd;
    box-shadow: 1px 1px 5px #aaa;
    position: relative;
    background: #fff;
    margin: 5px 4px -1px 4px;
    padding: 7px 0 0 10px;
    cursor: default;
    display: block;
    display: list-item;
    height: 37px
}

#assignments-tab ul li:hover
{
    box-shadow: 1px 1px 5px #777
}

#assignments-tab ul li .date
{
    position: absolute;
    left: 7px;
    top: 5px;
    color: #ccc !important
}

#assignments-tab ul li .title
{
    position: absolute;
    left: 55px;
    top: 5px;
    color: #ddd !important
}

#assignments-tab ul li .info
{
    position: absolute;
    left: 5px;
    top: 20px;
    right: 5px;
    bottom: 5px;
    padding: 3px 10px 3px 10px;
    font: normal 12px Arial,  Helvetica,  Sans-serif;
    background: #fff;
    text-shadow: 0 1px 1px #bbb;
    color: #777;
    border: none;
    text-align: left;
    resize: none;
    cursor: default;
    overflow: hidden
}

.jspVerticalBar
{
    width: 8px;
    background: transparent;
    right: 10px
}

.jspHorizontalBar
{
    bottom: 5px;
    width: 100%;
    height: 8px;
    background: transparent
}

.jspTrack
{
    background: transparent
}

.jspDrag
{
    background: url(images/transparent-black.png) repeat;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%
}

.jspCorner
{
    display: none
}

#welcome-page
{
    background: url(eKita_background.jpg) no-repeat center center fixed;
    background-size: cover;
    font: bold 12px Trebuchet MS;
    color: rgba(250, 250, 250, 0.8)
}

.error-input
{
    background: #CD2020;
    opacity: 0.4;
    filter: alpha(opacity=40)
}

#welcome-page input[type="text"], #welcome-page input[type="password"]
{
    width: 200px;
    height: 24px;
    font: bold 12px Arial, Helvetica, Sans-serif;
    color: #6a6f75;
    text-align: center;
    padding: 0px 7px 0px 7px;
    border: none;
    background: #ddd
}

#welcome-page input[type="submit"]
{
    width: 80px;
    height: 27px;
    font: bold 12px Arial, Helvetica, Sans-serif;
    color: #6a6f75
}

#login-form, #login-form li, #login-form input
{
    position: absolute
}

#login-form
{
    right: 100px;
    top: 10%;
    width: 400px;
    height: 50px
}

#login-form #errors
{
    height: 20px
}

#login-form #errors #session_username_error
{
    left: 20px;
    padding-top: 0px;
    color: #cf4536;
    font-size: 80%
}

#login-form #errors #session_password_error
{
    left: 172px;
    padding-bottom: 3px;
    color: #cf4536;
    font-size: 80%
}

#login-form #errors #incorrect_error
{
    color: #cf4536;
    left: 14%
}

#login-form #fields
{
    height: 30px
}

#login-form #username input
{
    width: 130px;
    left: 3px;
    top: 3px
}

#login-form #username
{
    background: #2c2c2c;
    left: -10px;
    top: 22px;
    height: 29px;
    width: 149px;
    border-top: 1px solid black;
    border-bottom: 1px solid #444;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

#login-form #password input
{
    width: 130px;
    left: 3px;
    top: 3px
}

#login-form #password
{
    left: 145px;
    top: 22px;
    height: 29px;
    width: 149px;
    background: #2c2c2c;
    border-top: 1px solid black;
    border-bottom: 1px solid #444;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

#login-form #submit input
{
    left: 2px;
    top: 1px
}

#login-form #submit
{
    left: 300px;
    top: 22px;
    height: 29px;
    width: 84px;
    background: #2c2c2c;
    border-top: 1px solid black;
    border-bottom: 1px solid #444;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

#remember, #remember label, #forgot, #new-join, #new_user, #new_user #submit
{
    position: absolute
}

#remember
{
    left: -2px;
    top: 60px
}

#remember input
{
    cursor: pointer
}

#remember label
{
    font-size: 10px;
    cursor: pointer;
    text-shadow: 0px 1px 2px #111
}

#forgot
{
    left: 158px;
    top: 60px;
    font-size: 10px;
    color: rgba(250, 250, 250, 0.8);
    text-shadow: 0px 1px 2px #111
}

#forgot a:visited
{
    color: #aaa
}

#new-join
{
    left: 115px;
    top: -35px;
    text-shadow: 0px 1px 2px #111
}

#new
{
    font-size: 20px;
    padding-right: 5px;
    text-shadow: 0px 1px 2px #111
}

#new_user
{
    right: 0%;
    top: 35%;
    width: 470px
}

#new_user p
{
    height: 33px
}

#new_user label
{
    padding-top: 5px;
    padding-right: 10px;
    display: inline-block;
    text-align: right;
    width: 100px;
    font: 11px Trebuchet MS;
    text-shadow: 0px 1px 2px #111
}

#new_user input
{
    width: 170px
}

#new_user #submit
{
    right: 144px;
    padding-top: 10px
}

#new_user label.error
{
    padding-left: 10px;
    padding-right: 0;
    color: #cf4536;
    width: 130px;
    text-align: left;
    font-weight: normal
}

.ui-dialog
{
    border: 1px solid #666;
    box-shadow: 0px 1px 10px #666;
    opacity: 0.8
}

.ui-dialog-titlebar
{
    border: none;
    background: #2e2e2e;
    height: 23px
}

.ui-dialog-titlebar .ui-dialog-titlebar-close
{
    display: none
}

.ui-dialog-titlebar img
{
    position: absolute;
    left: 12px;
    top: 7px
}

.ui-dialog-titlebar .dialog-title
{
    position: absolute;
    left: 107px;
    top: 12px;
    font: bold 14px Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    color: rgba(250, 250, 250, 0.5)
}

.ui-dialog-buttonpane
{
    border: none
}

.ui-dialog-buttonpane button
{
    width: 100px
}

.ui-dialog-buttonpane button:focus
{
    outline: none
}

.ui-widget-overlay
{
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset
{
    text-align: center;
    float: none
}

.ui-dialog .ui-dialog-buttonpane
{
    height: 55px
}

#confirm-dialog center
{
    margin-top: 20px
}

#login-dialog input.text
{
    font: bold 14px Trebuchet MS;
    color: #2e2e2e;
    margin-top: 12px;
    width: 197px;
    height: 20px;
    padding: .4em
}

#login-dialog fieldset
{
    padding: 0;
    border: 0;
    margin-top: 5px
}

#login-dialog.ui-dialog-buttonpane
{
    border: none
}

#login-dialog.ui-dialog-buttonpane button
{
    width: 100px
}

#login-dialog.ui-dialog-buttonpane button:focus
{
    outline: none
}

#error-body
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -285px;
    margin-top: -190px
}

#error-body a
{
    font-size: 28px;
    text-shadow: 0px 1px 2px #111
}

#event-dialog input.text, #event-dialog textarea, #event-dialog select
{
    font-family: Trebuchet MS,  Tahoma,  Verdana,  Arial,  sans-serif;
    font-weight: bold;
    background: #eee;
    color: #2e2e2e;
    border: 1px solid #ccc
}

#event-title, #event-category, #event-date, #event-time, #event-info, #add-event-btn, .cancel-btn
{
    position: absolute
}

#event-title
{
    top: 20px;
    left: 20px;
    width: 159px;
    padding: .4em .7em .4em .6em;
    font-size: 15px
}

#event-category
{
    top: 60px;
    left: 20px;
    width: 179px;
    color: #999;
    padding: .4em;
    font-size: 15px
}

#event-date
{
    top: 103px;
    left: 20px;
    width: 83px;
    height: 21px;
    padding: .4em 0 .3em .5em;
    font-size: 13px
}

#event-time
{
    top: 103px;
    left: 120px;
    width: 70px;
    height: 21px;
    padding: .4em 0 .3em .5em;
    font-size: 13px
}

#event-info
{
    top: 20px;
    right: 21px;
    width: 200px;
    height: 90px;
    padding: .7em;
    resize: none;
    font-size: 15px
}

#add-event-btn
{
    top: 153px;
    left: 20px;
    width: 179px
}

#event-dialog .cancel-btn
{
    top: 153px;
    right: 20px;
    width: 220px
}
