* {margin:0; padding:0}
a {text-decoration: none}
ul {list-style: none} li {display: inline} 
a:focus, input:focus { outline: none }
body { position:absolute; height:100%; width:100% }

/* Header */

#header { 
	height: 57px; min-width: 900px; 
	background: #2e2e2e; 
	border-bottom: 1px solid #111;
}
#logo {	
	position: absolute; 
	top: 12px; left: 15px; 
}
#logo img { border: none }

#nav-links { 
	position: absolute; 
	width: 600px; height: 56px;
	left: 158px
} 
#nav-links li {
	position: absolute;
	top: 21px; 
	text-align: center;
	font: bold 12px Arial, Helvetica, Sans-serif;
	color: rgba(250,250,250,0.5);
	line-height: 20px;
}
#nav-links li:hover, #header li.active {
	background: #202020;
	color: rgba(250,250,250,0.9);
	border-top: 1px solid black;
	border-bottom: 1px solid #444;
	cursor: pointer
}
#home-link { left: 0; width: 50px }
#apps-link { 
	border-bottom: 1px solid #444;
	left: 77px; 
	width: 45px
}
#files-link { 
	left: 121px; 
	border-left: 1px solid #444; 
	border-bottom: 1px solid #444;
	width: 45px
}
#courses-link { 
	border-bottom: 1px solid #444;
	left: 193px;	
	width: 62px
}
#resources-link { 
	border-left: 1px solid #444; 
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
	left: 255px; 
	width: 77px
}
#academics-link { 
	border-left: 1px solid #444;
	border-bottom: 1px solid #444;
	left: 332px; 
	width: 77px
}
#profile-link { 
	border-bottom: 1px solid #444;
	left: 430px; 	
	width: 55px 
}
#settings-link { 
	border-left: 1px solid #444; 
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
	left: 484px;
	width: 63px 
}
#help-link { 
	border-bottom: 1px solid #444;
	left: 549px; 
	width: 45px 
}


/* Search field */

#search-form input{ 
	position: absolute; 
	top: 18px; right: 150px; 
	height: 24px; width: 160px;
	border: none;
	font: bold 12px Arial,Helvetica,Sans-serif;
	color: #6a6f75;
	text-align:center;
	padding: 0px 25px 0px 10px;
	background: url(header/search-dark.png) no-repeat 97% 5px #202020;
	border-top: 2px solid black;
	border-bottom: 1px solid #444;
	-moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
}
#search-form input:focus{ 
	color:rgba(250,250,250,0.8);
	background: url(header/search-white.png) no-repeat 97% 5px #2e2e2e;
}


/* Profile Button */

#dropbox a, #dropbox a:visited { color:#879199; text-decoration:none }
#dropbox, #dropbox .button, #dropbox .button img, #dropbox .button span.txt, #dropbox .button span.ar, #dropbox .menu{ position:absolute } 
#dropbox { 
	width: 125px; height: 28px;  
	top: 16px; right: 15px;  
	background:#202020;
	border-top: 1px solid black;
	border-bottom: 1px solid #444;
}
#dropbox .button { 
	width:110px; height: 14px;
	left: 3px; top: 2px;
	font: bold 12px Arial,Helvetica,Sans-serif;
	border-top: 1px solid #444;
	border-bottom: 1px solid black;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9); 
    cursor:pointer;
    padding: 5px 5px;
    opacity:0.7;
	filter:alpha(opacity=70);
	color: rgba(250,250,250,0.9);
}
#dropbox .button img {
	top: 4px; left: 7px; 
	border: none;
}
#dropbox .button span.txt {
    left: 28px; top:5px; 
    width: 60px;
    overflow: hidden;
    text-align:center;
}
#dropbox .button span.ar {
    top:5px; right:10px;
}
#dropbox .button:hover {
	background:#303030;
	top: 1px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	color: rgba(250,250,250,0.9);
}
#dropbox .menu {
	position: absolute;
	left: 3px; right: 3px; top:30px;
    background: #fff;
    opacity: 0.9;
	filter: alpha(opacity=90); 
	-moz-border-radius:    0px;
    -webkit-border-radius: 0px;
    border-radius:         0px;
    border:1px solid #c7cbd3;
    border-top:0;
    border-bottom-color:#b3b7c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    display:none;
    z-index:40000;
}
#dropbox .menu ul li a { 
    padding: 7px 10px;
    font-family: Trebuchet MS, Tahoma, Verdana,
 	Arial, sans-serif; font-size: 11px;
    border-top:1px solid #e7e7f0;
    border-bottom:1px solid #e7e7f0;
    display:block;
    margin:-1px 0 0 0;
    text-shadow:0 1px 1px #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0)";  
    zoom: 1.1;
}
#dropbox .menu ul li:hover a {
    border-color:#d7dbea;
    color:#777;
    background: #EBEDF4;
    background: -moz-linear-gradient(top, #EBEDF4 0%, #e5e7ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EBEDF4), color-stop(100%,#e5e7ef));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEDF4', endColorstr='#e5e7ef',GradientType=0)";   
    background: -o-linear-gradient(top, #EBEDF4 0%,#e5e7ef 100%);
    box-shadow: inset 0 1px 0 #fff;
}


/* Left Side */

#left-side, #apps-img, #arrow-left-icon, #app-panel,
#get-apps-img, #recent-files-img, #recent-files
{ position: absolute }
#app-panel li img, #get-apps-img, #arrow-left-icon
{ cursor: pointer }
#left-side {
    top: 58px; bottom: 0px;  
    left: 0px; width: 157px;
    background: #eaeaea; 
    box-shadow:0px 0px 10px #222;
    border-right: 1px solid #fff
}
#apps-img { left: 16px; top: 23px; }
#arrow-left-icon { left: 129px; top: 26px; }
#app-panel { 
	left: 15px; top: 42px; 
	width: 127px; height: 289px;
	background: #fff url(app_panel.gif) no-repeat;
	background-size: 127px 289px;
	
}
#app-panel li img { margin: -1px 0px; padding: 0px }
#get-apps-img { left: 102px; top: 335px }
#recent-files-img { left: 16px; top: 370px }
#recent-files {
	left: 16px; top: 393px; 
	
	/*
	background: url(left-side/top.gif) no-repeat, 
				url(left-side/middle.gif) no-repeat, 
				url(left-side/middle.gif) no-repeat, 
				url(left-side/middle.gif) no-repeat, 
				url(left-side/middle.gif) no-repeat, 
				url(left-side/middle.gif) no-repeat, 
				url(left-side/bottom.gif) no-repeat;
	background-position: 0px 0px, 0px 25px, 0px 50px, 0px 75px, 
						 0px 100px, 0px 125px, 0px 150px;
	background-size: 127px 25px, 127px 25px, 127px 25px, 127px 25px, 
					 127px 25px, 127px 25px, 126px 25px;
					 */
	
}
#recent-files li { 
	display: block;
	width: 125px; height: 25px; 
	background: url(left-side/middle.gif) no-repeat 0 0;
	background-size: 125px 25px
}
#recent-files li:first-child { 
	background: url(left-side/top.gif) no-repeat 0 0;
	background-size: 125px 25px
}
#recent-files li:last-child { 
	background: url(left-side/bottom.gif) no-repeat 0 0;
	background-size: 124px 26px
}
#recent-files span{
	font: normal 11px Arial, Helvetica, Sans-serif;
	color: #666;
 	text-shadow: 0 1px 1px #fff;
	position: relative;
	left: 10px; top: 2px;
	cursor: pointer
}
#recent-files span:hover{ color: #333 }


/* Main Tab View (MTV)
==================================================================*/

#center, #center .tabs, #center .tabs-content{ position: absolute }
#center {
    top: 58px; bottom: 0px;
    left: 160px; min-width: 700px; right: 251px;
    background: #c7c7c7; 
}
#center .tabs{
	top: 1.5%; bottom: 1%; 
	right: 1.2%; left: 1.2%;
	box-shadow: 0px 1px 5px #aaa;
	border: 1px solid #aaa;
}
.ui-tab-content, .ui-tabs-panel{ 
	overflow: auto 
}
#center li.tabs-title:hover{ 
	border: 1px solid #ccc;
}
#center .tabs .tabs-title img { 
	float: left; padding: 0; margin: 0;
	margin-left: 2px;
}
#center .tabs .tabs-title a { 
	font: bold 12px Arial, Helvetica, Sans-serif;
	text-shadow: 0 1px 1px #fff;
	padding: 7px 5px 5px 2px;
	color: #555;
 	cursor: pointer; 
}
#center .tabs li.simple-title a{ 
	font: bold 12px Arial, Helvetica, Sans-serif;
	color: #555;
	padding: 7px 5px 5px 10px;
	cursor: pointer; 
}
#center .tabs li .ui-icon-close{ 
	margin: 3px 4px 5px 0;
	float: right; 
	cursor: pointer; 
}
#center .tabs-content{
	font: normal 13px Arial, Helvetica, Sans-serif;
	color: #777;
	top: 5.5%; bottom: 1%; 
	right: 1.2%; left: 1.2%;
}


/* Calendar events tab
==================================================================*/

.activities{
	position: absolute;
	top: 50px; right: 25px;
	bottom: 20px; left: 20px;
}
.activities .activity-title{ 
	display: block;
	padding: 12px 0 2px 10px;
	border-bottom: 1px solid #eee;
}
.activities .activity-title span{ 
	font: bold 11px Arial, Helvetica, Sans-serif;
	color: #bbb;
	cursor: default;
}
.activities .activity-title .active{ 
	color: #777 
}
.activities .activity-title ol{
	list-style-position: inside;
	list-style-type: decimal;
	display: none;
	padding-top: 7px;
}
.activities .activity-content{ 
	font: bold 12px Arial, Helvetica, Sans-serif;
	color: #ddd;
	box-shadow: 1px 1px 5px #aaa;
	position: relative;
	background: #fff;
	margin: 5px 4px -1px 4px;
	padding: 7px 0 0 10px;
	cursor: default;
	display: block;
	display: list-item;
	height: 65px
}
.activities .activity-content:hover{ 
	box-shadow: 1px 1px 5px #777;
}

.activities .activity-content .title{ 
	color: #ddd !important;
	font-size: 110%;
}
.activities .activity-content .time{
	position: absolute;
	left: 300px; top: 8px;
	color: #ccc !important;
}	
.activities .activity-content .info{ 
	position: absolute;
	left: 10px; top: 28px;
	right: 15px; bottom: 7px;
	padding: 3px 10px 3px 10px;
	font: normal 12px Arial, Helvetica, Sans-serif;
	background: #fff;
	text-shadow: 0 1px 1px #bbb;
	color: #777;
	border: none;
	text-align: left;
	resize: none;
	cursor: default;
}
.activities .activity-content .ui-icon-close{
	position: absolute;
	right: 5px; top: 5px;
	opacity: 0.4;
	cursor: pointer; 
}
.activities .activity-content .ui-icon-close:hover{ 
	opacity: 1
}	



/* Files tab
==================================================================*/
 
#center .tabs-content .files{
	width: 660px;
}
#center .tabs-content .files li{ 
	display: block;
	cursor: default
}
#center .tabs-content .files li ul li{ 
	float: left;
}
#center .tabs-content .files .title{ 
	border-bottom: 1px solid #eee;
	height: 30px;
}	
#center .tabs-content .files .title li{ 
	font: bold 11px Arial, Helvetica, Sans-serif;
	color: #666;
 	padding: 13px 0 0 0;
}
#center .tabs-content .files .row{ 
	height: 30px;
	border-bottom: 1px solid #eee;
}
#center .tabs-content .files .row:hover{ 
	background: rgba(1, 1, 1, 0.02)
}
#center .tabs-content .files .row li{ 
	font: normal 12px Arial, Helvetica, Sans-serif;
	color: #777;
	height: 30px
}
#center .tabs-content .files li.name{ 
	padding-left: 20px;
	width: 320px;
}
#center .tabs-content .files .row li.name img{ 
	position: relative;
	left: 0px; top: 6px
}
#center .tabs-content .files .row li.name span{ 
	position: relative;
	left: 6px; top: 2px
}
#center .tabs-content .files .type{ 
	width: 200px
}
#center .tabs-content .files .row .type span{ 
	position: relative;
	top: 9px
}
#center .tabs-content .files .age{ 
	width: 100px
}
#center .tabs-content .files .row .age span{ 
	position: relative;
	top: 9px
}


/* Academics tab
==================================================================*/

#academics-list{
	position: absolute;
	top: 60px; width: 692px;
	bottom: 10px; left: 25px;
}
#academics-list li{ 
	display: block;
	cursor: default;
}
#academics-list .title{ 
	height: 55px;
}	
#academics-list .title span{ 
	position: absolute;
	font: bold 11px Arial, Helvetica, Sans-serif;
	color: #2e2e2e;
 	text-align: center;
 	height: 25px;
 	line-height: 27px;	
 	text-shadow: 0 1px 1px #fff;
}
#academics-list .row{
	border-bottom: 1px solid #eee;
	position: relative;
	height: 55px;
}
#academics-list .row:last-child{
	border-bottom: none;
}
#academics-list .row *{
	z-index: 0;
	cursor: default
}
#academics-list .row textarea, #academics-list .row .grade-elems-full, #academics-list .row .grade-elems-full li input{
	font: normal 12px Arial, Helvetica, Sans-serif;
	color: #666;
	border: none;
	text-align: center;
	resize: none;
	top: 9px; height: 30px;
}
#academics-list .row textarea:focus{
	color: #2e2e2e
}
#academics-list .row textarea{
	padding-top: 7px;
}
.course-code, .course-title, .univ-name, .dep-name, .prof-name, .grade-elems, .grade-elems-full{ position: absolute }

#academics-list .title .course{
	border-top: 1px solid #eee;
	left: 0px; top: 0px;
	width: 185px; height: 30px;
	line-height: 30px;	
	color: #bbb;
}
#academics-list .title .course-code{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	left: 0px; top: 30px;
	width: 80px; 
	background: #eee;
}
#academics-list .row .course-code{
	left: 3px; top: 8px;
	padding: 5px 5px 5px 5px;
	width: 66px; 
}
#academics-list .title .course-title{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	left: 80px; top: 30px;
	width: 105px; 
	background: #eee;
}
#academics-list .row .course-title{
	left: 83px; top: 8px;
	padding: 5px 5px 5px 5px;
	width: 90px; 
}
#academics-list .title .univ{
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	left: 185px; top: 0px;
	width: 210px; height: 30px;
	line-height: 30px;	
	color: #bbb;
}
#academics-list .title .univ-name{
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	left: 185px; top: 30px;
	width: 105px; 
	background: #eee;
}
#academics-list .row .univ-name{
	left: 188px; top: 8px;
	padding: 5px 5px 5px 5px;
	width: 91px; 
}
#academics-list .title .dep-name{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	left: 290px; top: 30px;
	width: 105px; 
	background: #eee;
}
#academics-list .row .dep-name{
	left: 294px; top: 8px;
	padding: 5px 5px 5px 5px;
	width: 90px; 
}
#academics-list .title .prof{
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	left: 395px; top: 0px;
	width: 105px; height: 30px;
	line-height: 30px;	
	color: #bbb;
}
#academics-list .title .prof-name{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	left: 395px; top: 30px;
	width: 105px; 
	background: #eee;
}
#academics-list .row .prof-name{
	left: 398px; top: 8px;
	padding: 5px 5px 5px 5px;
	width: 92px; 
}
#academics-list .title .grade{
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	left: 500px; top: 0px;
	width: 140px; height: 30px;
	line-height: 30px;	
	color: #bbb;
}
#academics-list .title .elems{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	left: 500px; top: 30px;
	width: 140px; 
	background: #eee;
}
#academics-list .title span:last-child{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	left: 640px; top: 30px;
	width: 58px; 
	background: #eee;
}
#academics-list .row .grade-elems{
	left: 523px; top: 7px;
	width: 100px; 
}
#academics-list .row .grade-elems-full{
	box-shadow: 1px 1px 5px #aaa; 
	border: 1px solid #ddd;
	background: #eee; 
	color: #2e2e2e;
	left: 505px; 
	top: 10px;
	width: 140px; 
	height: 85px;
	padding: 5px 5px 5px 7px;
	overflow: hidden;
	text-align: left;
	display: none;
	z-index: 1 !important;
	opacity: 0.9
}

#academics-list .row .grade-elems-full li{
	line-height: 21px;
	font-size: 90%;
	position: relative;
}
#academics-list .row .grade-elems-full li span:first-child{
	text-shadow: 0 1px 1px #fff !important;
	display: inline;
	width: 50px;
}
#academics-list .row .grade-elems-full li .grade{
	position: absolute;
	top: 4px; right: -2px;
	background: #eee; 
	height: 15px;
	width: 45px;
	text-align: left;
	color: #2e2e2e;
	overflow: hidden;
	font-size: 97%;
	opacity: 1
}
#academics-list .row .grade-elems-full li:last-child{
	font-weight: bold;
	line-height: 24px;
}
#academics-list .row .grade-elems-full li:last-child .grade{
	position: absolute;
	top: 5px; right: -2px;
	font-weight: bold;
	font-size: 105%
}
#academics-list .row .btn-rmv{
	font: normal 11px Arial, Helvetica, Sans-serif;
	position: absolute;
	left: 650px; top: 13px;
	padding: 4px 0px 4px 0px;
	font: bold 14px Arial, Helvetica, Sans-serif !important;
	width: 40px;
	text-align: center;
	color: #d44737;
	opacity: 1;
	border: 1px solid #ddd;
	background: #eee;
	text-shadow: 0 1px 2px #fff;
	cursor: pointer
}
#academics-list .btn-rmv:hover{ 
	color: #d44737;
	opacity: 0.7
}
#academics-list .btn-add{
	font: normal 11px Arial, Helvetica, Sans-serif;
	position: absolute;
	left: 650px; top: 13px;
	padding: 7px 10px 5px 10px;
	border: 1px solid #ddd;
	font: bold 10px Arial, Helvetica, Sans-serif !important;
	background: #eee;
	color: #2e2e2e !important;
	text-shadow: 0 1px 1px #fff;
	cursor: pointer
}

#academics-list .row .btn-add:hover{ 
	box-shadow: 0px 0px 0px #888;
	opacity: 0.7
}

#academics-list .btn-disabled{
	color: #777 !important;
	text-shadow: 0 1px 1px #fff;
	cursor: default;
	opacity: 0.7
}

.ui-tabs-paging-next a:hover,
.ui-tabs-paging-next a:focus,
.ui-tabs-paging-next a:active,
.ui-tabs-paging-prev a:hover,
.ui-tabs-paging-prev a:focus,
.ui-tabs-paging-prev a:active { 
   background: #eee; 
}

.ui-tabs-paging-disabled {
   visibility: hidden;
}


/* Right side
==================================================================*/

#right-side, .ui-datepicker, #event-btn, #right-side .tabs{ position: absolute }
#right-side {
    top: 58px; bottom: 0; 
	width: 250px; right: 0;
    background: #e6e6e6; 
    border-left: 1px solid #bfbfbf;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; 
	font-size: 12px; 
}

/*
.ui-datepicker .ui-state-hover { }
.ui-datepicker .ui-state-active { }
.ui-datepicker .ui-state-highlight { }
*/

.ui-datepicker{
	font: normal 12px Arial, Helvetica, Sans-serif !important;
	color: #555 !important;
	left: 15px; top: 14px;
	z-index: 1; 
	box-shadow: 0px 1px 5px #aaa; 
	text-shadow: 0 1px 1px #ddd;
	width: 205px; height: 170px;
	cursor: default;
}
.disabled-date a{
	font: normal 10px Arial, Helvetica, Sans-serif !important;
	background: #fff !important;
	color: #999 !important;
    cursor: default;
    border: 1px solid white !important;
    text-align: center !important;
    width: 14px !important;
    height: 14px !important;
}
.highlighted-date a{
	font: bold 11px Arial, Helvetica, Sans-serif !important;
	color: #333 !important;
	text-shadow: 0 1px 1px #ddd !important;
    border: 1px solid white !important;
    text-align: center !important;
    width: 14px !important;
    height: 14px !important;
    margin-top: -1px !important;
    opacity: 0.7;
    border: 1px solid #ddd !important;
	background: #eee !important;
}
.highlighted-date a:hover{
	opacity: 1;
	border: 1px solid #ddd !important;
	background: #eee !important;
}
.highlighted-date{
	padding-left: 7px !important;
}
.disabled-date{
	padding-left: 7px !important;
}
#event-btn{ 
	z-index: 0;
	left: 20px; width: 70px; 
	height: 25px; top: 177px;
	box-shadow: 0px 1px 5px #aaa; 
	border: 1px solid #bbb;
	padding-top: 8px;
	font: bold 10px Arial, Helvetica, Sans-serif !important;
	color: #555 !important;
	text-shadow: 0 1px 1px white;
}
#event-btn:hover { 
	box-shadow: 0px 0px 0px #888;
	cursor: pointer
}

#right-side #top-tabs{ 
	top: 310px 
}
#right-side #bottom-tabs{ 
	top: 430px 
}
#right-side .tabs{ 
	color: #777;
	box-shadow: 0px 1px 5px #aaa; 
	height: 200px; 
	width: 205px; 
	left: 15px
}
#right-side .tabs a{
	font: bold 10px Arial, Helvetica, Sans-serif;
	text-shadow: 0 1px 1px #fff;
	padding: 7px 7px 5px 7px;
	color: #666;
 	cursor: pointer 
}
#right-side .tabs div{
	font: normal 12px Arial, Helvetica, Sans-serif;
	color: #777
}


#assignments-tab ul{
	position: absolute;
	left: 5px; top: 35px;
	right: 5px; bottom: 5px;
	overflow: scroll
}
#assignments-tab ul li{ 
	font: bold 12px Arial, Helvetica, Sans-serif;
	color: #ddd;
	box-shadow: 1px 1px 5px #aaa;
	position: relative;
	background: #fff;
	margin: 5px 4px -1px 4px;
	padding: 7px 0 0 10px;
	cursor: default;
	display: block;
	display: list-item;
	height: 37px
}
#assignments-tab ul li:hover{ 
	box-shadow: 1px 1px 5px #777;
}
#assignments-tab ul li .date{
	position: absolute;
	left: 7px; top: 5px;
	color: #ccc !important;
}	
#assignments-tab ul li .title{ 
	position: absolute;
	left: 55px; top: 5px;
	color: #ddd !important;
}
#assignments-tab ul li .info{ 
	position: absolute;
	left: 5px; top: 20px;
	right: 5px; bottom: 5px;
	padding: 3px 10px 3px 10px;
	font: normal 12px Arial, Helvetica, Sans-serif;
	background: #fff;
	text-shadow: 0 1px 1px #bbb;
	color: #777;
	border: none;
	text-align: left;
	resize: none;
	cursor: default;
	overflow: hidden
}

/*scrollpane custom CSS*/

.jspVerticalBar {
    width: 8px;
    background: transparent;
    right:10px;
}
 
.jspHorizontalBar {
    bottom: 5px;
    width: 100%;
    height: 8px;
    background: transparent;
}
.jspTrack {
    background: transparent;
}
 
.jspDrag {
    background: url(images/transparent-black.png) repeat;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
 
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}
 
.jspCorner {
    display:none
}


/* Welcome Page */

#welcome-page{
	background: url(eKita_background.jpg) no-repeat center center fixed;
	background-size: cover;
	/*background: #2e2e2e;*/
	font: bold 12px Trebuchet MS;
	color:rgba(250,250,250,0.8);
}

.error-input{ background: #CD2020; opacity:0.4; filter:alpha(opacity=40); }

#welcome-page input[type="text"], #welcome-page input[type="password"]{
	width: 200px; height: 24px; 
	font: bold 12px Arial,Helvetica,Sans-serif;
	color: #6a6f75;
	text-align:center;
	padding: 0px 7px 0px 7px;
	border: none;
	background: #ddd;
}

#welcome-page input[type="submit"]{
	width: 80px; height: 27px; 
	font: bold 12px Arial,Helvetica,Sans-serif;
	color: #6a6f75;
}

#login-form, #login-form li, #login-form input { position: absolute; }
#login-form { right: 100px; top:10%; width: 400px; height: 50px; }
#login-form #errors{ height: 20px; } 
#login-form #errors #session_username_error{ left: 20px; padding-top: 0px; color: #cf4536; font-size: 80%}
#login-form #errors #session_password_error{ left: 172px; padding-bottom: 3px; color: #cf4536; font-size: 80%}
#login-form #errors #incorrect_error{color: #cf4536; left: 14%}
#login-form #fields{ height: 30px } 
#login-form #username input{ width: 130px; left: 3px; top: 3px}
#login-form #username{
	background:#2c2c2c;
	left: -10px; top: 22px; height: 29px; width: 149px;
	border-top: 1px solid black;
	border-bottom: 1px solid #444;
	-moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    border-radius:         3px;
}
#login-form #password input{ width: 130px; left: 3px; top: 3px}
#login-form #password{
	left: 145px; top: 22px; height: 29px; width: 149px;
	background:#2c2c2c;
	border-top: 1px solid black;
	border-bottom: 1px solid #444;
	-moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    border-radius:         3px;
}
#login-form #submit input { left: 2px; top: 1px }
#login-form #submit{
	left: 300px; top: 22px; height: 29px; width: 84px;
	background:#2c2c2c;
	border-top: 1px solid black;
	border-bottom: 1px solid #444;
	-moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    border-radius:         3px;
}
#remember, #remember label, #forgot, #new-join, #new_user, #new_user #submit { position: absolute }
#remember { left: -2px; top: 60px }
#remember input { cursor: pointer }
#remember label{ 
	font-size: 10px;
	cursor: pointer;
	text-shadow: 0px 1px 2px #111; 
}	
#forgot{ 
	left: 158px; top: 60px;
	font-size: 10px; 
	color:rgba(250,250,250,0.8);
	text-shadow: 0px 1px 2px #111; 
} 
#forgot a:visited { color: #aaa }

#new-join { left: 115px; top: -35px; text-shadow: 0px 1px 2px #111 }
#new { font-size: 20px; padding-right: 5px; text-shadow: 0px 1px 2px #111 }
#new_user { right: 0%; top: 35%; width: 470px }
#new_user p { height: 33px }
#new_user label { 
	padding-top: 5px; padding-right: 10px; 
	display: inline-block; text-align: right; 
	width: 100px; 
	font: 11px Trebuchet MS;
	text-shadow: 0px 1px 2px #111; 
}
#new_user input{ width: 170px }
#new_user #submit{ right: 144px; padding-top: 10px }

/* Error messages */
#new_user label.error { 
	padding-left: 10px; padding-right: 0; 
	color: #cf4536; width: 130px; 
	text-align: left; 
	font-weight: normal;
}

/* Modal Dialogs */

.ui-dialog { 
	border: 1px solid #666; 
	box-shadow: 0px 1px 10px #666; 
	opacity: 0.8;
}


.ui-dialog-titlebar { 
	border: none; 
	background: #2e2e2e; 
	height: 23px; 
}
.ui-dialog-titlebar .ui-dialog-titlebar-close { display:none }
.ui-dialog-titlebar img {
	position: absolute;
	left: 12px; top: 7px; 
}
.ui-dialog-titlebar .dialog-title{ 
	position: absolute;
	left: 107px; top: 12px; 
	font: bold 14px Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	color: rgba(250,250,250,0.5);
}
.ui-dialog-buttonpane { border: none }
.ui-dialog-buttonpane button { width: 100px }
.ui-dialog-buttonpane button:focus { outline: none }
.ui-widget-overlay{ 
	background: #000;
	position: fixed;  
    top: 0; left: 0; width: 100%; height: 100%; 
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
	text-align: center; 
	float: none; 
}

.ui-dialog .ui-dialog-buttonpane{ height: 55px }

#confirm-dialog center{ margin-top: 20px }

#login-dialog input.text { 
	font: bold 14px Trebuchet MS; 
	color: #2e2e2e; 
	margin-top: 12px; 
	width:197px; height: 20px; 
	padding: .4em; 
}
#login-dialog fieldset { 
	padding:0; 
	border:0; 
	margin-top:5px; 
}
#login-dialog.ui-dialog-buttonpane { border: none }
#login-dialog.ui-dialog-buttonpane button { width: 100px }
#login-dialog.ui-dialog-buttonpane button:focus { outline: none }

#error-body{ 
	position: absolute; left: 50%; top: 50%; 
	margin-left: -285px; margin-top: -190px
}
#error-body a{ 	
	font-size: 28px; 
	text-shadow: 0px 1px 2px #111; 
}

#event-dialog input.text, #event-dialog textarea, #event-dialog select{ 
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; 
	font-weight: bold;
	background: #eee; color: #2e2e2e;
	border: 1px solid #ccc;
}

#event-title, #event-category, #event-date, #event-time, #event-info, #add-event-btn, .cancel-btn{ position: absolute }
#event-title{
	top: 20px; left: 20px;
	width: 159px; 
	padding: .4em .7em .4em .6em; 
	font-size: 15px 
}
#event-category{
	top: 60px; left: 20px;
	width: 179px; 
	color: #999; 	
	padding: .4em;
	font-size: 15px 
}
#event-date{
	top: 103px; left: 20px;
	width: 83px; height: 21px;
	padding: .4em 0 .3em .5em;
	font-size: 13px 
}
#event-time{
	top: 103px; left: 120px;
	width: 70px; height: 21px;
	padding: .4em 0 .3em .5em; 
	font-size: 13px 
}
#event-info{
	top: 20px; right: 21px;
	width: 200px; height: 90px;
	padding: .7em; 
	resize: none; 
	font-size: 15px 
}
#add-event-btn{
	top: 153px; left: 20px;
	width: 179px;  
}
#event-dialog .cancel-btn{
	top: 153px; right: 20px;
	width: 220px;  
}

















